<div class="box-img1">
    <div class="w serve-box">
        <div class="title">
            <h2>五大创作技巧，让内容引爆新媒体</h2>
            <div></div>
        </div>
        <div class="img-box w"></div>
    </div>
</div>