<div class="box-img">
  <div class="w serve-box">
    <div class="title">
      <h2>新闻稿件传播和搜索排名</h2>
    </div>
    <div class="img-box1 w clearfix">
      <div class="fl icon1"></div>
      <div class="fl icon2"></div>
    </div>
    <div class="img-box2 w clearfix">
      <div class="fl icon1"></div>
      <div class="fl icon2"></div>
    </div>
  </div>
</div>