<div class="banner">
    <div class="banner-content-box w">
        <div class="content">
            <div class="blod">沉淀品牌口碑，树立企业形象解决方案</div>
            <div class="normal">帮助品牌快速打开市场</div>
            <div class="contact"><a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">立即咨询  <i>></i></a></div>
        </div>
    </div>
</div>