<div class="banner">
    <div class="banner-content-box w">
        <div class="content">
            <div class="blod">新闻营销</div>
            <div class="normal">让您的企业和品牌快速上热点</div>
            <div class="contact"><a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">立即咨询  <i>></i></a></div>
        </div>
    </div>
</div>