.box-img1 {
    background: #fff;
    // padding-bottom: 100px;

    .serve-box {
        width: 1134px;
        padding-top: 118px;

        .title {
            color: #333;
            font-size: 20px;
            margin-bottom: 42px;
            border-left: 2px solid #3790FF;
            line-height: 1;
            padding-left: 10px;

            h2 {
                font-size: 24px;
                font-weight: 600;
            }
        }
    }
    .img-box {
        width: 1140px;
        height:362px;
        background: url(../../../images/case_three_img5.png) no-repeat;

    }
   
}