.box-img3 {
  background: #fff;
  .serve-box {
      width: 1134px;
      // padding-top: 90px;
      padding-bottom: 160px;
      .title {
          color: #333;
          font-size: 20px;
          margin-bottom: 40px;
          border-left: 2px solid #3790FF;
          line-height: 1;
          padding-left: 10px;

          h2 {
              font-size: 24px;
              font-weight: 600;
          }
      }
  }
  
  .img-box {
      width: 1083px;
      height: 523px;
      // margin-bottom: 74px;
      background: url(../../../images/searchCase_img3.png) no-repeat;
      background-size: contain;
  }
 
}