<div class="box-img2">
    <div class="w serve-box">
        <div class="title">
            <h2>写稿流程</h2>
            <div>Writing process</div>
        </div>
        {{!-- <div class="img-box w"></div> --}}
    </div>
</div>