.box-img2 {
    background: url(../../../images/articles_flow.png) no-repeat center;
    // padding-bottom: 150px;
    height: 531px;
    .serve-box {
        width: 1200px;
        padding-top: 95px;

        .title {
            text-align: center;
            color: #fff;
            font-size: 20px;
            margin-bottom: 54px;

            h2 {
                font-size: 24px;
            }

            .title2 {
                padding-top: 60px;
            }
        }
    }
}