<div class="box-img2">
    <div class="w serve-box">
        <div class="title">
            <h2>知乎热榜打造</h2>
        </div>
        <div class="img-box1 w"> </div>

        <div class="img-box2 w"></div>
        <div class="img-box3 w"></div>
    </div>
</div>