<div class="choice-example">
    <div class="example-content-box w">
        <div class="title">
            <h2>小红书营销案例</h2>
            <div>Xiao Hong book marke</div>
        </div>
        <div class="show">
            <div class="content J-show-content">
                <ul>
                    <li class="show-content clearfix">
                        <div class="left fl icon-left-1"></div>
                        <div class="right fl icon-right-1"> </div>
                    </li>
                    <li class="show-content clearfix">
                        <div class="left fl icon-left-2"></div>
                        <div class="right fl icon-right-2"> </div>
                    </li>
                    <li class="show-content clearfix">
                        <div class="left fl icon-left-3"></div>
                        <div class="right fl icon-right-3"> </div>
                    </li>
                    <li class="show-content clearfix">
                        <div class="left fl icon-left-4"></div>
                        <div class="right fl icon-right-4"> </div>
                    </li>

                </ul>
            </div>
            <div class="control-box J-control-box">
                <ul>
                    <li data-index="0">Olay</li>
                    <li data-index="1">蜜蜜淳</li>
                    <li data-index="2" class="active">兰蔻</li>
                    <li data-index="3">NBA STYLE服饰</li>
                </ul>
            </div>
        </div>
    </div>
</div>