<div class="my_taocan">
    <div class="w serve-box">
        <div class="title">
            <h2>新闻发稿套餐</h2>
            <div>Press release packag</div>
        </div>
        <ul>
            <li>
                <div class="icon1 icon"></div>
                <div class="normal">综合套餐</div>
            </li>
            <li>
                <div class="icon2 icon"></div>
                <div class="normal">门户套餐</div>
            </li>
            <li>
                <div class="icon3 icon"></div>
                <div class="normal">IT套餐</div>
            </li>
            <li>
                <div class="icon4 icon"></div>
              
                <div class="normal">财经套餐 </div>
            </li>
            <li>
                <div class="icon5 icon"></div>
              
                <div class="normal">母婴套餐</div>
            </li>
            <li>
                <div class="icon6 icon"></div>
              
                <div class="normal">女性套餐</div>
            </li>
            <li>
                <div class="icon7 icon"></div>
             
                <div class="normal">汽车套餐</div>
            </li>
            <li>
                <div class="icon8 icon"></div>
             
                <div class="normal">新闻源套餐</div>
            </li>
            <li>
                <div class="icon9 icon"></div>
             
                <div class="normal">医疗套餐</div>
            </li>
            <li>
                <div class="icon10 icon"></div>
             
                <div class="normal">艺术套餐</div>
            </li>
            <li>
                <div class="icon11 icon"></div>
             
                <div class="normal">游戏套餐</div>
            </li>
            <li>
                <div class="icon12 icon"></div>
             
                <div class="normal">更多套餐</div>
            </li>
        </ul>
    </div>
</div>