.my_taocan {
    background-color: #f2f2f2;

    .serve-box {
        width: 1200px;
        padding-top: 95px;

        .title {
            text-align: center;
            color: #555555;
            font-size: 20px;
            margin-bottom: 54px;

            h2 {
                font-size: 24px;
            }
        }

        ul {
            // padding-left: 64px;
            display: flex;
            // align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            li {
                width: 16.6%;
                display: flex;
                align-items: center;
                flex-direction: column;
                margin-bottom: 78px;

                .icon {
                    margin-bottom: 20px;
                    width: 40px;
                    height:40px;
                  
                }

                .icon1 {
                    background: url(../../../images//news_advantages_zhonghe.png) no-repeat;
                    background-size: contain;
                }

                .icon2 {               
                    background: url(../../../images/news_advantages_home.png) no-repeat;
                    background-size: contain;
                }

                .icon3 {
                
                    background: url(../../../images/news_advantages_iticon.png) no-repeat;
                    background-size: contain;
                }

                .icon4 {
                
                    background: url(../../../images/news_advantages_caijin.png) no-repeat;
                    background-size: contain;
                }

                .icon5 {
                   
                    background: url(../../../images/news_advantages_muying.png) no-repeat;
                    background-size: contain;
                }

                .icon6 {
                   
                    background: url(../../../images/news_advantages_nvxing.png) no-repeat;
                    background-size: contain;
                }

                .icon7 {
                    background: url(../../../images/news_advantages_yibiao.png) no-repeat;
                    background-size: contain;
                }
                .icon8 {
                    background: url(../../../images/news_advantages_news.png) no-repeat;
                    background-size: contain;
                }
                .icon9 {
                    background: url(../../../images/news_advantages_yiliao.png) no-repeat;
                    background-size: contain;
                }
                .icon10 {
                    background: url(../../../images/news_advantages_yishu.png) no-repeat;
                    background-size: contain;
                }
                .icon11 {
                    background: url(../../../images/news_advantages_youxi.png) no-repeat;
                    background-size: contain;
                }
                .icon12 {
                    background: url(../../../images/news_advantages_alltao.png) no-repeat;
                    background-size: contain;
                }


                // .bold {
                //     font-size: 20px;
                //     color: #555555;
                //     font-weight: 600;
                // }

                .normal {
                    font-size: 14px;
                    // color: #969696;
                }

            }
        }
    }
}