<div class="box-img3">
    <div class="w serve-box">
        <div class="title">
            <h2>联系我们</h2>
            <div>Contact us</div>
        </div>
    </div>
    <div class="img-box w">
        <div class="address">
            <div class="contact-text">
                <span class="one1">公司电话：18665594799</span>
                <span>公司邮箱：2231255768@qq.com</span>
            </div>
            <div class="contact-text">
                <span class="one2">媒体入驻：pptschool(微信)</span>
                <span>媒体入驻：pptschool(微信)</span>
            </div>
        </div>

    </div>
</div>