<div class="box-img3">
    <div class="w serve-box">
        <div class="title">
            <h2>软文撰写服务</h2>
            <div>Soft language writin</div>
        </div>
        <div class="img-box clearfix w J-item-box-serve">
            <div class="item one">
                <a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">

                    <p class="title-2">普通编辑</p>
                    <p class="price">199 <span>元</span></p>
                    <p class="link-me w">联系我</p>
                </a>
            </div>
            <div class="item two active">
                <a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">

                    <p class="title-2">专业编辑</p>
                    <p class="price">399 <span>元</span></p>
                    <p class="link-me w">联系我</p>
                </a>
            </div>
            <div class="item three">
                <a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">
                    <p class="title-2">资深编辑</p>
                    <p class="price">599 <span>元</span></p>
                    <p class="link-me w">联系我</p>
                </a>
            </div>
        </div>
    </div>
</div>