.realinfo {
    width: 100%;
    background: #fff;
    padding: .3rem 0 1rem
}

.realinfo .btn-confirm {
    width: 5.94rem;
    height: .9rem;
    line-height: .9rem;
    border-radius: .45rem;
    text-align: center;
    margin-top: .4rem
}

.realinfo-mn {
    width: 6.7rem;
    margin: auto
}
.step-item {
    padding-top: .6rem;
    input {
        border: none;
        width: 100%;
        font-size: .32rem;
        border-radius: .04rem;
        height: .7rem;
        display: block;
        border-bottom: 1px solid #e5e5e5;
    }
}
.step-item span {
    color: #b7b7b7;
    font-size: .24rem;
}
.submit-box{
    padding: 1rem .3rem .3rem;
}