<div class="box-img2">
    <div class="w serve-box">
        <div class="title">
            <h2>新媒体营销资源</h2>
            <div>New Media Marketing</div>
        </div>
        <div class="img-box w"></div>
    </div>
</div>