<div class="choice-example">
    <div class="example-content-box w">
        <div class="title">
            <h2>部分案例展示</h2>
            <div>Some case shows</div>
        </div>
        <div class="show">
            <div class="content J-show-content">
                <ul>
                    <li class="show-content clearfix" >
                        <div class="left fl"></div>
                        <div class="right fl">
                            <div class="content-head">
                                <h4>4399小游戏</h4>
                                <a href="javascript:;">查看详情 ></a>
                            </div>
                            <div class="list-box">
                                <div class="item">
                                    <span class="title-left">客户诉求：</span>
                                    <span class="message">建立医院权威新闻，建立医院可信度和知名度，打造权威
                                        整容医院。
                                    </span>
                                </div>
                                <div class="item">
                                    <span class="title-left"> 整合策略：</span>
                                    <span class="message">
                                        不同关键词的新闻稿撰写，批量发布，微博微信大号推送，
                                        精准定位目标客户群。

                                    </span>
                                </div>
                                <div class="item">
                                    <span class="title-left"> 整合效果：</span>
                                    <span class="message">
                                        影响受众高达300万人次/月，品牌曝光量500万人次。

                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="show-content clearfix">
                        <div class="left fl"></div>
                        <div class="right fl">
                            <div class="content-head">
                                <h4>世界之窗</h4>
                                <a href="javascript:;">查看详情 ></a>
                            </div>
                            <div class="list-box">
                                <div class="item">
                                    <span class="title-left">客户诉求：</span>
                                    <span class="message">建立医院权威新闻，建立医院可信度和知名度，打造权威
                                        整容医院。
                                    </span>
                                </div>
                                <div class="item">
                                    <span class="title-left"> 整合策略：</span>
                                    <span class="message">
                                        不同关键词的新闻稿撰写，批量发布，微博微信大号推送，
                                        精准定位目标客户群。

                                    </span>
                                </div>
                                <div class="item">
                                    <span class="title-left"> 整合效果：</span>
                                    <span class="message">
                                        影响受众高达300万人次/月，品牌曝光量500万人次。

                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="show-content clearfix">
                        <div class="left fl"></div>
                        <div class="right fl">
                            <div class="content-head">
                                <h4>韩国原辰整容医院</h4>
                                <a href="javascript:;">查看详情 ></a>
                            </div>
                            <div class="list-box">
                                <div class="item">
                                    <span class="title-left">客户诉求：</span>
                                    <span class="message">建立医院权威新闻，建立医院可信度和知名度，打造权威
                                        整容医院。
                                    </span>
                                </div>
                                <div class="item">
                                    <span class="title-left"> 整合策略：</span>
                                    <span class="message">
                                        不同关键词的新闻稿撰写，批量发布，微博微信大号推送，
                                        精准定位目标客户群。

                                    </span>
                                </div>
                                <div class="item">
                                    <span class="title-left"> 整合效果：</span>
                                    <span class="message">
                                        影响受众高达300万人次/月，品牌曝光量500万人次。

                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="show-content clearfix">
                        <div class="left fl"></div>
                        <div class="right fl">
                            <div class="content-head">
                                <h4>长影世纪城</h4>
                                <a href="javascript:;">查看详情 ></a>
                            </div>
                            <div class="list-box">
                                <div class="item">
                                    <span class="title-left">客户诉求：</span>
                                    <span class="message">建立医院权威新闻，建立医院可信度和知名度，打造权威
                                        整容医院。
                                    </span>
                                </div>
                                <div class="item">
                                    <span class="title-left"> 整合策略：</span>
                                    <span class="message">
                                        不同关键词的新闻稿撰写，批量发布，微博微信大号推送，
                                        精准定位目标客户群。

                                    </span>
                                </div>
                                <div class="item">
                                    <span class="title-left"> 整合效果：</span>
                                    <span class="message">
                                        影响受众高达300万人次/月，品牌曝光量500万人次。

                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="control-box J-control-box">
                <ul>
                    <li data-index="0">4399小游戏</li>
                    <li data-index="1">世界之窗</li>
                    <li data-index="2" class="active">韩国原辰整容医院</li>
                    <li data-index="3">长影世纪城</li>
                </ul>
            </div>
        </div>

    </div>
</div>