<div class="my_advantages">
    <div class="w advantages-box">
        <div class="title">
            <h2>您可能面对的问题</h2>
            <div>The difficulties you</div>
        </div>
        <ul>
            <li class="icon1"> </li>
            <li class="icon2">
                <div class="normal">发布的知乎内容<br/> 在话题下<span>排名差</span> </div>
            </li>
            <li class="icon3"> </li>
            <li class="icon4">

                <div class="normal">知乎内容策划没有紧跟<br/> 热榜话题<span>错失传播机会</span></div>
            </li>
            <li class="icon5">

                <div class="normal">辛苦撰写知乎内容<br/> 发布不成功或<span>易被删除</span> </div>
            </li>
            <li class="icon6"></li>
            <li class="icon5">
                <div class="normal">企业机构号发布内容<br/> 不被用户<span>关注和点赞</span></div>
            </li>
            <li class="icon8"></li>
        </ul>
    </div>
</div>