<div class="my_advantages">
    <div class="w advantages-box">
        <div class="title">
            <h2>您可能面对的问题</h2>
            <div>The difficulties you</div>
        </div>
        <ul>
            <li class="icon1"> </li>
            <li class="icon2">
                <div class="normal">发布的内容 新媒体传播效果差</div>
            </li>
            <li class="icon3"> </li>
            <li class="icon4">

                <div class="normal">内容策划没有紧跟热点 话题错失传播机会</div>
            </li>
            <li class="icon5">

                <div class="normal">辛苦撰写内容 发布不成功或易被删除 </div>
            </li>
            <li class="icon6"></li>
            <li class="icon5">
                <div class="normal">企业号经营多年 粉丝用户互动效果不佳</div>
            </li>
            <li class="icon8"></li>
        </ul>
    </div>
</div>