<div class="my_advantages">
    <div class="w advantages-box">
        <div class="title">
            <h2>您可能面对的问题</h2>
            <div>The difficulties you may face</div>
        </div>
        <ul>
            <li class="icon1"> </li>
            <li class="icon2">
                <div class="normal">发布的内容 新媒体<br/><span>传播效果差</span></div>
            </li>
            <li class="icon3"> </li>
            <li class="icon4">

                <div class="normal">内容策划没有紧跟热点<br/> 话题错失<span>传播机会</span></div>
            </li>
            <li class="icon5">

                <div class="normal">辛苦撰写内容 <br/>发布不成功或<span>易被删除</span> </div>
            </li>
            <li class="icon6"></li>
            <li class="icon5">
                <div class="normal">企业号经营多年<br/> 粉丝用户<span>互动效果不佳</span></div>
            </li>
            <li class="icon8"></li>
        </ul>
    </div>
</div>