<div class="box-img">
  <div class="w serve-box">
    <div class="title">
      <h2>新媒体收录排名展现案例</h2>
    </div>
    <div class="img-box1 w clearfix">
      <div class="fl icon1"></div>
      <div class="fl icon2"></div>
    </div>
    <div class="img-box2 w clearfix">
      <div class="fl icon1"></div>
      <div class="fl icon2"></div>
    </div>
    <div class="img-box3 w clearfix">
      <div class="fl icon1"></div>
      <div class="fl icon2"></div>
    </div>
  </div>
</div>