<div class="my_serve">
    <div class="w serve-box">
        <div class="title">
            <h2>专业的新媒体营销服务</h2>
            <div class="text">Professional New Media Marketing Service</div>
            <div>帮你解决遇到的所有新媒体营销问题</div>
        </div>
        <ul>
            <li>
                <div class="icon1 icon"></div>
                <div class="bold">丰富资源 </div>
                <div class="normal">拥有1000+百家号、头条号等大号、10000+自媒体真实用户
                    100+专业知乎编辑写手团队</div>
            </li>
            <li>
                <div class="icon2 icon"></div>
                <div class="bold">新媒体营销经验</div>
                <div class="normal">精通百家号、头条号、抖音、悟空问答、熊掌号推荐算法
                    借势大数据算法，扩大新媒体内容传播 </div>

            </li>
            <li>
                <div class="icon3 icon"></div>
                <div class="bold">服务团队</div>
                <div class="normal">团队来至上市公司策划过Olay、京东、唯品会、 王老吉、美的等品牌新媒体活动传播
                    并成功上信息流推荐，传播量达千万级
                </div>
            </li>

        </ul>
    </div>
</div>