<div class="table1">
    <div class="w serve-box">
        <div class="title">
            <h2> 整合内容营销套餐</h2>
            <div>Integrated Content Marketing Package</div>
        </div>
       {{> './table1.hbs'}}
       {{> './table2.hbs'}}
       {{> './table3.hbs'}}
    </div>

</div>