  <div class="conntent-box">
            <div class="head-table">整合内容营销套餐（名扬天下）<strong> 16888元</strong></div>
            <p class="text line">服务范围：新品推广、品牌口碑建设、活动推广、网站推广、APP推广、企业推广等</p>
            <p class="text">服务价值：全网品牌口碑沉淀，树立企业形象初步解决方案，帮助品牌快速打开市场</p>
            <div class="head-table"> 整合营销策略</div>
            <p class="text pad-1">1.通过问答、论坛进行产品口碑营销，帮助品牌、企业、
                产品建设好评信息，提升网络口碑。?2.通过百科帮助品牌树立权威、
                增加信任感，有助于销售转化。?3.通过新闻报道提升品牌、企业的公信力，
                树立企业积极正向的形象。?4.通过论坛、博客、贴吧等平台全网曝光，
                进一步对品牌和产品进行传播，营造良好网络口碑环境。?5.配合微信、微博、
                自媒体等平台，大数据智能精准推送，辐射潜在用户，通过内容不断引导用户
                了解企业、产品、从而实现最后产品购买。?6.通过整合内容营销，
                帮助企业最终实现搜索引擎、各大网络媒体平台正向企业信息，
                有利于产品销售转化。</p>
            <table class="mytable">
                <thead>
                    <tr class="head-table">
                        <th style="" align="center">序号</th>
                        <th style="">服务项目</th>
                        <th style="width:210px">服务内容</th>
                        <th style="">单位</th>
                        <th style="">数量</th>
                        <th style="width:210px">方向</th>
                        <th style="width:210px">备注</th>
                        <th>营销目的</th>
                        <th>预计曝光量/人次</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td align="center">1</td>
                        <td>百科营销</td>
                        <td>搜狗百科、互动百科</td>
                        <td>篇</td>
                        <td>2</td>
                        <td>公司全称的词条内容创建搜狗、互动百科两篇，展示企业形象</td>
                        <td>500字以内</td>
                        <td>专业+权威</td>
                        <td>持续永久曝光</td>
                    </tr>
                    <tr>
                        <td align="center">2</td>
                        <td>问答营销</td>
                        <td>撰写公司、品牌、
                            产品等口碑内容并发布</td>
                        <td>组</td>
                        <td>100</td>
                        <td>问题为XXX怎么样？XXX哪家
                            好？XXX好用吗等
                        </td>
                        <td>围绕企业、行业、品牌、产品、
                            业务等关键词来编辑内容50组，
                            并发布到2个问答平台，5天内
                            删除包补</td>
                        <td>口碑+形象</td>
                        <td>持续永久曝光</td>
                    </tr>
                    <tr>
                        <td rowspan="2" align="center">3</td>
                        <td rowspan="2">新闻营销</td>
                        <td>撰写产品或企业新闻稿</td>
                        <td>篇</td>
                        <td>4</td>
                        <td rowspan="2">稿件标题包含核心关键词如企
                            业名称、产品名等，内容围绕
                            公司信息、业务范围、行业实
                            力等进行撰写，主要以宣传企
                            业、产品为主。</td>
                        <td>
                            需要双方沟通确认写稿方向，
                            甲方需提供撰写材料

                        </td>
                        <td rowspan="2">曝光+专业</td>
                        <td>—</td>
                    </tr>
                    <tr>
                        <td>筛选主流门户网站和行业垂直媒体共10家进行宣传报道</td>
                        <td>个</td>
                        <td>40</td>
                        <td>每篇稿件投放采用门户网站+
                            垂直行业媒体组合搭配</td>

                        <td>400，000</td>
                    </tr>
                    <tr>
                        <td rowspan="2" align="center">4</td>
                        <td rowspan="2">论坛营销</td>
                        <td>撰写论坛口碑稿件1篇</td>
                        <td>篇</td>
                        <td>1</td>
                        <td rowspan="2">根据品牌、产品关键词为软文
                            撰写方向，保证稿件符合SEO
                            规划，容易被抓取收录，同时
                            满足内容的可阅读性，符合论
                            坛稿件规范。</td>
                        <td>
                            精选5个论坛进行加精置顶，
                            确保每个论坛至少1万曝光率，
                            同时进行跟帖维护
                        </td>
                        <td rowspan="2">造势+曝光</td>
                        <td>—</td>
                    </tr>
                    <tr>
                        <td>手工发布到门户网站论坛、地方人气论坛、如天涯、新浪、西祠、网易、搜狐、猫扑等知名论坛共300帖</td>
                        <td>篇</td>
                        <td>480</td>
                        <td>论坛纯手工发布，保障存活，
                            套餐默认图片不超过3张，不
                            能带链接，如有额外要求，需
                            联系客服沟通</td>

                        <td>100，000</td>
                    </tr>
                    <tr>
                        <td rowspan="2" align="center">5</td>
                        <td rowspan="2">自媒体营销</td>
                        <td>撰写自媒体稿件1篇</td>
                        <td>篇</td>
                        <td>1</td>
                        <td rowspan="2">根据自媒体平台智能推荐规则
                            进行稿件撰写，提升辐射话题
                            面，扩大稿件传播。</td>
                        <td>
                            稿件主要以品牌、产品、活动
                            产品为主
                        </td>
                        <td rowspan="2">曝光+口碑</td>
                        <td>—</td>
                    </tr>
                    <tr>
                        <td>筛选行业百家号、头条号、
                            一点资讯等自媒体平台10
                            个账号进行宣传报道</td>
                        <td>篇</td>
                        <td>20</td>
                        <td>辐射百家号、头条号、一点
                            资讯、网易号、搜狐自媒体
                            等多个自媒体平台</td>

                        <td>200，000</td>
                    </tr>
                    <tr>
                        <td align="center">6</td>
                        <td>百度地图标注</td>
                        <td>百度地图经常在搜索企业
                            名首页展示，进行标注，
                            提高在百度上的企业形象。
                        </td>
                        <td>个</td>
                        <td>1</td>
                        <td>一般是企业简称或者全称</td>
                        <td>
                            需提供营业执照
                        </td>
                        <td>权威+形象</td>
                        <td>持续永久曝光</td>
                    </tr>
                     <tr>
                        <td align="center">7</td>
                        <td>微博营销</td>
                        <td>微博100万粉丝大V直发</td>
                        <td>个</td>
                        <td>2</td>
                        <td>配合官方品牌宣传活动信息，撰写微博广告语1篇，进行传播</td>
                        <td>
                            撰写广告语，保障转发300次以上
                        </td>
                        <td>曝光+引流</td>
                        <td>200,000</td>
                    </tr>  
                    <tr>
                        <td rowspan="2" align="center">8</td>
                        <td rowspan="2">微信营销</td>
                        <td>撰写微信稿件1篇</td>
                        <td>篇</td>
                        <td>1</td>
                        <td rowspan="2">资深文案操刀，结合当下时事热点，内容插入品牌、产品或企业信息，撰写一篇有效吸引目标读者，引起共鸣的文案。</td>
                       <td>稿件主要以品牌、产品、活动产品为主</td>
                        <td rowspan="2">曝光+引流</td>
                        <td>—</td>
                    </tr>
                    <tr>
                        <td>微信100万粉丝大V直发</td>
                        <td>篇</td>
                        <td>2</td>
                        <td>微信推广可以精选行业号，辐射行业用户，做到精准营销，有效引流。</td>

                        <td>100，000</td>
                    </tr> 
                    <tr>
                        <td rowspan="2" align="center">9</td>
                        <td rowspan="2">知乎营销</td>
                        <td>知乎相关行业话题专业回复1篇</td>
                        <td>篇</td>
                        <td>1</td>
                        <td rowspan="2">资深文案操刀，结合行业专业知识，内容软性插入品牌、产品或企业信息，撰写一篇有效吸引目标读者，引起共鸣的文案。</td>
                       <td>内容主要以专业知识为主，软性植入品牌产品</td>
                        <td rowspan="2">曝光+引流</td>
                        <td>—</td>
                    </tr>
                    <tr>
                        <td>知乎相关行业话题专业回复，软性植入，提升话题热度，优化回复排名</td>
                        <td>个</td>
                        <td>1</td>
                        <td>知乎话题可以做到行业精准引流，覆盖潜在用户，占领用户认知</td>

                        <td>100，000</td>
                    </tr>  
                     <tr>
                        <td align="center">10</td>
                        <td>网站口碑打造</td>
                        <td>针对企业网站进行百度口碑好评优化，提升好评率，赢得消费者信任。</td>
                        <td>条</td>
                        <td>200</td>
                        <td>正面积极评论</td>
                        <td>
                            甲方提供产品介绍资料和话术方向
                        </td>
                        <td>口碑+形象</td>
                        <td>持续永久曝光</td>
                    </tr>                                                                            
                    <tr>
                        <td colspan="9" align="center" style="padding:16px 0 20px;font-weight:600;">预估总曝光量：110W人次</td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">执行周期</td>
                        <td colspan="7" style="padding:12px 6px;">本服务套餐执行周期为10个工作日，以双方确认稿件撰写要求，开始稿件撰写开始计时</td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">注意事项</td>
                        <td colspan="7" style="padding:12px 6px 32px">
                            1.新闻网站拒稿的，甲乙双方协商换同等价位的媒体重新发布?2.项目执行完成，提供一份结案报告PPT或者EXCEL版本?3.对文案内容有高要求，需额外提供附加费，由资深编辑撰写，如涉及化妆品、医疗等敏感行业，需事先跟营销顾问沟通。
                        </td>
                    </tr>
                </tbody>

            </table>
            <div class="link-me">
                <a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">立即咨询</a>
            </div>
        </div>