<div class="my_serve2">
    <div class="w serve-box">
        <div class="title">
            <h2>我们的优势</h2>
            <div>our advantages</div>
        </div>
        <ul>
            <li>
                <div class="icon1 icon"></div>
                <div class="bold">资源丰富 </div>
                <div class="normal">拥有5000+网站媒体、3000+论坛、1000+网红、100+网站编辑写手</div>
            </li>
            <li>
                <div class="icon2 icon"></div>

                <div class="bold">一手资源</div>
                <div class="normal">全网一手渠道资源供应商，没有中间商赚差价，直接对接媒体</div>

            </li>
            <li>
                <div class="icon3 icon"></div>

                <div class="bold">专业服务</div>
                <div class="normal">团队来至上市公司服务过宝洁、唯品会、王老吉、美的等品牌拥有10年互联网推广经验</div>
            </li>
          
        </ul>
    </div>
</div>