<div class="box-img2">
    <div class="w serve-box">
        <div class="title">
            <h2>搜索营销服务</h2>
            <div>Search marketing ser</div>
        </div>
        <div class="img-box w">
            <a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">
                
            </a>
        </div>
    </div>
</div>