<div class="box-img1">
    <div class="w serve-box">
        <div class="title">
            <h2>小红书推广策略  网红联动霸屏营销</h2>
            <div>海量网红、明星干货内容，为品牌营造现象热</div>
        </div>
        {{!-- <div class="img-box1 w"></div> --}}
    </div>
</div>