<div class="choice-example">
    <div class="example-content-box w">
        <div class="title">
            <h2>部分案例展示</h2>
            <div>Some case shows</div>
        </div>
        <div class="show">
            <div class="content J-show-content">
                <ul>
                    <li class="show-content clearfix" >
                        <div class="left fl icon-1"></div>
                        <div class="right fl">
                            <div class="content-head">
                                <h4>广药白云山</h4>
                                <a href="/html/addServePage.html" target="_blank">查看详情 ></a>
                            </div>
                            <div class="list-box">
                                <div class="item">
                                    <span class="title-left">客户诉求：</span>
                                    <span class="message">广药集团主导过期药回收活动，希望建立“过期药回收”活动方面百科，进行活动的传播。
                                    </span>
                                </div>
                                <div class="item">
                                    <span class="title-left"> 营销策略：</span>
                                    <span class="message">
                                     撰写“过期药回收”关键词新闻稿件，找权威媒体发布，为后续百度百科创建作为参考素材，便于创建词条，晚上活动词条内容。
                                    </span>
                                </div>
                                <div class="item">
                                    <span class="title-left"> 整合效果：</span>
                                    <span class="message">
                                      优化该百科在百度搜索“过期药品回收”关键词下排名至第一名
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="show-content clearfix">
                        <div class="left fl icon-2"></div>
                        <div class="right fl">
                            <div class="content-head">
                                <h4>唯品会</h4>
                                <a href="/html/addServePage.html" target="_blank">查看详情 ></a>
                            </div>
                            <div class="list-box">
                                <div class="item">
                                    <span class="title-left">客户诉求：</span>
                                    <span class="message">5.20是情人节，唯品会希望在知乎做个热榜传播520折扣活动
                                    </span>
                                </div>
                                <div class="item">
                                    <span class="title-left">营销策略：</span>
                                    <span class="message">
                                     策划话题标题《你有没有一瞬间觉得自己爱对了人》，筛选5个知乎10万粉大号撰写发布文章软性植入活动，对话题不断预热，吸引用户互动。
                                    </span>
                                </div>
                                <div class="item">
                                    <span class="title-left"> 整合效果：</span>
                                    <span class="message">
                                      热榜14名，占据热榜3天，大号话题排名维持在第1名、第10名、第11名，话题浏览量159W，参与回答数154个。

                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="show-content clearfix">
                        <div class="left fl icon-3"></div>
                        <div class="right fl">
                            <div class="content-head">
                                <h4>Olay</h4>
                                <a href="/html/addServePage.html" target="_blank">查看详情 ></a>
                            </div>
                            <div class="list-box">
                                <div class="item">
                                    <span class="title-left">客户诉求：</span>
                                    <span class="message">客户想在小红书搜索“去皱面膜”、“保湿爽肤水”关键词有自己产品口碑文章
                                    </span>
                                </div>
                                <div class="item">
                                    <span class="title-left">营销策略：</span>
                                    <span class="message">
                                     策划Olay小红瓶和Olay爽肤水两款产品的种草稿件，筛选匹配的KOL大号发布，技术优化至搜索关键词前三名。
                                    </span>
                                </div>
                                <div class="item">
                                    <span class="title-left"> 整合效果：</span>
                                    <span class="message">
                                       Olay小红瓶稿件占位“去皱面膜”关键词搜索结果第一名，Olay爽肤水稿件占位“保湿爽肤水”关键词搜索结果第二名。
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="show-content clearfix">
                        <div class="left fl icon-4"></div>
                        <div class="right fl">
                            <div class="content-head">
                                <h4>PPT大学</h4>
                                <a href="/html/addServePage.html" target="_blank">查看详情 ></a>
                            </div>
                            <div class="list-box">
                                <div class="item">
                                    <span class="title-left">客户诉求：</span>
                                    <span class="message">搜索“PPT大学怎么样”关键词出现正面口碑内容
                                    </span>
                                </div>
                                <div class="item">
                                    <span class="title-left">营销策略：</span>
                                    <span class="message">
                                   策划PPT大学口碑稿件，筛选知道账号进行提问回答，SEO技术优化至百度搜索结果首页

                                    </span>
                                </div>
                                <div class="item">
                                    <span class="title-left"> 整合效果：</span>
                                    <span class="message">
                                      口碑内容排名至百度搜索结果第二、第三、第四名

                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="control-box J-control-box">
                <ul>
                    <li data-index="0">广药白云山</li>
                    <li data-index="1">唯品会</li>
                    <li data-index="2" class="active">Olay</li>
                    <li data-index="3">PPT大学</li>
                </ul>
            </div>
        </div>

    </div>
</div>