<div class="box-img">
    <div class="w serve-box">
        <div class="title">
            <h2>智能发稿系统</h2>
            <div>Intelligent Publishi</div>
            <div class="title2">智能发稿平台对接媒体API，随时进行活动</div>
        </div>
        <div class="img-box w"></div>
    </div>
</div>