<div class="box-img">
    <div class="w serve-box">
        <div class="title">
            <h2>智能发稿系统</h2>
            <div>Intelligent Publishing System</div>
            <div class="title2">智能发稿平台对接媒体API，随时进行活动稿件发布，保障活动传播效果</div>
        </div>
        <div class="img-box w"></div>
    </div>
</div>