.alert-link-box {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 468px;
    height: 298px;
    transform: translate(-50%, -50%);
    background: url(../../images/alert-link-img.png) no-repeat;
    display: none;
    z-index: 9999;

    .alert-list {
        margin: 106px 96px 0;

        a {
            display: block;
            color: #fff;

            &:hover {
                text-decoration: underline;
            }
        }

        li {
            float: left;
            margin-right: 52px;
            margin-bottom: 26px;

            &:nth-child(2n) {
                margin-right: 0;
            }

            &:nth-child(3) {
                margin-right: 56px;
            }
        }

        .icon {
            display: inline-block;
            width: 14px;
            height: 14px;
            background: url(../../images/popup_c_icon_like.png) no-repeat;
            background-size: contain;
            margin-right: 4px;
        }
    }

    .boxPopupFixedCenter-btn {
        margin-top: 22px;

        a {
            display: inline-block;
            width: 180px;
            height: 38px;
            line-height: 38px;
            text-align: center;
            font-size: 14px;
            border: 1px solid #1674e9;
            border-radius: 6px;
            color: #1674e9;

            &:first-child {
                margin-left: 46px;
                margin-right: 10px;
            }

            &.boxPopupFixedCenter-btn-chat {
                background-color: #1674e9;
                color: #fff;
            }
        }
    }

    .btn {
        position: absolute;
        right: 21px;
        top: 19px;
        width: 22px;
        height: 22px;
        cursor: pointer;
        // background-color: red;
    }
}

.popu-fiexd-server {
    width: 168px;
    height: 475px;
    background: url(../../images/communicate_right_bg.png) no-repeat;
    z-index: 11;
    position: fixed;
    right: 0px;
    top: 116px;
    a{
      color: #333;
    }
}