<div class="alert-link-box J-alert-link-box">
    <ul class="alert-list clearfix">
        <li>
            <a href="/shumei/html/addServePage.html" target="_blank">
                <span class="icon"></span>
                <span class="txt">微信/微博推广</span>
            </a>
        </li>
        <li>
            <a href="/shumei/html/addServePage.html" target="_blank">
                <span class="icon"></span>
                <span class="txt">小红书推广</span>
            </a>
        </li>
        <li>
            <a href="/shumei/html/addServePage.html" target="_blank">
                <span class="icon"></span>
                <span class="txt">网红直播推广</span>
            </a>
        </li>
        <li>
            <a href="/shumei/html/addServePage.html" target="_blank">
                <span class="icon"></span>
                <span class="txt">百科营销推广</span>
            </a>
        </li>
    </ul>
    <div class="boxPopupFixedCenter-btn" style="">
        <a class="boxPopupFixedCenter-btn-chat" href="/shumei/html/addServePage.html" target="_blank">在线咨询</a>
        <a href="/shumei/html/addServePage.html" target="_blank">免费咨询</a>
    </div>
    <button class="btn J-click-hide"></button>
</div>

<div id="cBoxRight"
    style="width: 130px; height: 242px; background: url(&quot;https://static.711.cn/assets/v3/images/communicate_right_bg.png&quot;) no-repeat; z-index: 11; position: fixed; right: 0px; top: 211.5px;">
    <a style="width:98px;height: 38px; display: inline-block;margin: 78px 0 0 18px;"
        href="/shumei/html/addServePage.html" target="_blank">
    </a>
    <a style="width:130px;height: 36px; display: inline-block;margin: 44px 0 0 0"
        href="/shumei/html/addServePage.html" target="_blank">
    </a>
    <a style="width:130px;height: 36px; display: inline-block;" href="/shumei/html/addServePage.html"
        target="_blank">
    </a>
</div>