<div class="my_serve">
    <div class="w serve-box">
        <div class="title">
            <h2>我们的优势</h2>
            <div>Our advantages</div>
        </div>
        <ul>
            <li>
                <div class="icon1 icon"></div>
                <div class="bold">资源优势 </div>
                <div class="normal">拥有99%的门户、论坛、行业网站、新闻媒体资源100%的搜索引擎产品资源，经验文科均可发布</div>
            </li>
            <li>
                <div class="icon2 icon"></div>
                <div class="bold">SEO经验</div>
                <div class="normal">10年SEO经验，一线SEO技术拥有百度</div>

            </li>
            <li>
                <div class="icon3 icon"></div>
                <div class="bold">服务团队</div>
                <div class="normal">团队来至百度和百度五星代理公司，有京东、
                    唯品会、广东移动、宝洁等大型网站SEO服务
                    经验
                </div>
            </li>

        </ul>
    </div>
</div>