<div class="zonghe-list w clearfix">
    <div class="list-img img1 fl"></div>
    <div class="list-message fl">
        <h2>包收录套餐媒体10家（仅需<span>480</span>元，十大收录媒体，出稿快、收录快）</h2>
        <div class="content">
            <ul class="clearfix">
                <li>
                    <span></span>
                    新浪网
                </li>
                <li>
                    <span></span>
                    中国网
                </li>
                <li>
                    <span></span>
                    今日头条
                </li>
                <li>
                    <span></span>
                    新浪网
                </li>
                <li>
                    <span></span>
                    中国网
                </li>
                <li>
                    <span></span>
                    今日头条
                </li>
                <li>
                    <span></span>
                    新浪网
                </li>
                <li>
                    <span></span>
                    中国网
                </li>
                <li>
                    <span></span>
                    今日头条
                </li>
            </ul>
        </div>
        <div class="link-me">
            <a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">咨询更多优惠</a>
        </div>
    </div>
</div>
<div class="zonghe-list w clearfix">
    <div class="list-img img2 fl"></div>
    <div class="list-message fl">
        <h2>门户综合套餐媒体（仅需<span>480</span>元）</h2>
        <div class="content">
            <ul class="clearfix">
                <li>
                    <span></span>
                    新浪网
                </li>
                <li>
                    <span></span>
                    中国网
                </li>
                <li>
                    <span></span>
                    今日头条
                </li>
                <li>
                    <span></span>
                    新浪网
                </li>
                <li>
                    <span></span>
                    中国网
                </li>
                <li>
                    <span></span>
                    今日头条
                </li>
                <li>
                    <span></span>
                    新浪网
                </li>
                <li>
                    <span></span>
                    中国网
                </li>
                <li>
                    <span></span>
                    今日头条
                </li>
            </ul>
        </div>
        <div class="link-me">
            <a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">咨询更多优惠</a>
        </div>
    </div>
</div><div class="zonghe-list w clearfix">
    <div class="list-img img3 fl"></div>
    <div class="list-message fl">
        <h2>IT科技套餐媒体10家（仅需<span>650</span>元）</h2>
        <div class="content">
            <ul class="clearfix">
                <li>
                    <span></span>
                    新浪网
                </li>
                <li>
                    <span></span>
                    中国网
                </li>
                <li>
                    <span></span>
                    今日头条
                </li>
                <li>
                    <span></span>
                    新浪网
                </li>
                <li>
                    <span></span>
                    中国网
                </li>
                <li>
                    <span></span>
                    今日头条
                </li>
                <li>
                    <span></span>
                    新浪网
                </li>
                <li>
                    <span></span>
                    中国网
                </li>
                <li>
                    <span></span>
                    今日头条
                </li>
            </ul>
        </div>
        <div class="link-me">
            <a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">咨询更多优惠</a>
        </div>
    </div>
</div><div class="zonghe-list w clearfix">
    <div class="list-img img4 fl"></div>
    <div class="list-message fl">
        <h2>商业财经类套餐媒体10家（仅需<span>690</span>元） </h2>
        <div class="content">
            <ul class="clearfix">
                <li>
                    <span></span>
                    新浪网
                </li>
                <li>
                    <span></span>
                    中国网
                </li>
                <li>
                    <span></span>
                    今日头条
                </li>
                <li>
                    <span></span>
                    新浪网
                </li>
                <li>
                    <span></span>
                    中国网
                </li>
                <li>
                    <span></span>
                    今日头条
                </li>
                <li>
                    <span></span>
                    新浪网
                </li>
                <li>
                    <span></span>
                    中国网
                </li>
                <li>
                    <span></span>
                    今日头条
                </li>
            </ul>
        </div>
        <div class="link-me">
            <a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">咨询更多优惠</a>
        </div>
    </div>
</div><div class="zonghe-list w clearfix">
    <div class="list-img img5 fl"></div>
    <div class="list-message fl">
        <h2>房产家居套餐媒体10家（仅需<span>750</span>元 ）</h2>
        <div class="content">
            <ul class="clearfix">
                <li>
                    <span></span>
                    新浪网
                </li>
                <li>
                    <span></span>
                    中国网
                </li>
                <li>
                    <span></span>
                    今日头条
                </li>
                <li>
                    <span></span>
                    新浪网
                </li>
                <li>
                    <span></span>
                    中国网
                </li>
                <li>
                    <span></span>
                    今日头条
                </li>
                <li>
                    <span></span>
                    新浪网
                </li>
                <li>
                    <span></span>
                    中国网
                </li>
                <li>
                    <span></span>
                    今日头条
                </li>
            </ul>
        </div>
        <div class="link-me">
            <a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">咨询更多优惠</a>
        </div>
    </div>
</div><div class="zonghe-list w clearfix">
    <div class="list-img img6 fl"></div>
    <div class="list-message fl">
        <h2>女性时尚类套餐媒体10家（仅需<span>850</span> 元）</h2>
        <div class="content">
            <ul class="clearfix">
                <li>
                    <span></span>
                    新浪网
                </li>
                <li>
                    <span></span>
                    中国网
                </li>
                <li>
                    <span></span>
                    今日头条
                </li>
                <li>
                    <span></span>
                    新浪网
                </li>
                <li>
                    <span></span>
                    中国网
                </li>
                <li>
                    <span></span>
                    今日头条
                </li>
                <li>
                    <span></span>
                    新浪网
                </li>
                <li>
                    <span></span>
                    中国网
                </li>
                <li>
                    <span></span>
                    今日头条
                </li>
            </ul>
        </div>
        <div class="link-me">
            <a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">咨询更多优惠</a>
        </div>
    </div>
</div><div class="zonghe-list w clearfix">
    <div class="list-img img7 fl"></div>
    <div class="list-message fl">
        <h2>健康医疗类套餐媒体10家（仅需<span>850</span> 元）</h2>
        <div class="content">
            <ul class="clearfix">
                <li>
                    <span></span>
                    新浪网
                </li>
                <li>
                    <span></span>
                    中国网
                </li>
                <li>
                    <span></span>
                    今日头条
                </li>
                <li>
                    <span></span>
                    新浪网
                </li>
                <li>
                    <span></span>
                    中国网
                </li>
                <li>
                    <span></span>
                    今日头条
                </li>
                <li>
                    <span></span>
                    新浪网
                </li>
                <li>
                    <span></span>
                    中国网
                </li>
                <li>
                    <span></span>
                    今日头条
                </li>
            </ul>
        </div>
        <div class="link-me">
            <a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">咨询更多优惠</a>
        </div>
    </div>
</div><div class="zonghe-list w clearfix">
    <div class="list-img img8 fl"></div>
    <div class="list-message fl">
        <h2>旅游类套餐媒体10家（仅需<span>850</span> 元）</h2>
        <div class="content">
            <ul class="clearfix">
                <li>
                    <span></span>
                    新浪网
                </li>
                <li>
                    <span></span>
                    中国网
                </li>
                <li>
                    <span></span>
                    今日头条
                </li>
                <li>
                    <span></span>
                    新浪网
                </li>
                <li>
                    <span></span>
                    中国网
                </li>
                <li>
                    <span></span>
                    今日头条
                </li>
                <li>
                    <span></span>
                    新浪网
                </li>
                <li>
                    <span></span>
                    中国网
                </li>
                <li>
                    <span></span>
                    今日头条
                </li>
            </ul>
        </div>
        <div class="link-me">
            <a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">咨询更多优惠</a>
        </div>
    </div>
</div><div class="zonghe-list w clearfix">
    <div class="list-img img9 fl"></div>
    <div class="list-message fl">
        <h2>旅游类套餐媒体10家（仅需<span>850</span> 元 ）</h2>
        <div class="content">
            <ul class="clearfix">
                <li>
                    <span></span>
                    新浪网
                </li>
                <li>
                    <span></span>
                    中国网
                </li>
                <li>
                    <span></span>
                    今日头条
                </li>
                <li>
                    <span></span>
                    新浪网
                </li>
                <li>
                    <span></span>
                    中国网
                </li>
                <li>
                    <span></span>
                    今日头条
                </li>
                <li>
                    <span></span>
                    新浪网
                </li>
                <li>
                    <span></span>
                    中国网
                </li>
                <li>
                    <span></span>
                    今日头条
                </li>
            </ul>
        </div>
        <div class="link-me">
            <a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">咨询更多优惠</a>
        </div>
    </div>
</div><div class="zonghe-list w clearfix">
    <div class="list-img img10 fl"></div>
    <div class="list-message fl">
        <h2>游戏套餐媒体10家（仅需<span>850</span> ）</h2>
        <div class="content">
            <ul class="clearfix">
                <li>
                    <span></span>
                    新浪网
                </li>
                <li>
                    <span></span>
                    中国网
                </li>
                <li>
                    <span></span>
                    今日头条
                </li>
                <li>
                    <span></span>
                    新浪网
                </li>
                <li>
                    <span></span>
                    中国网
                </li>
                <li>
                    <span></span>
                    今日头条
                </li>
                <li>
                    <span></span>
                    新浪网
                </li>
                <li>
                    <span></span>
                    中国网
                </li>
                <li>
                    <span></span>
                    今日头条
                </li>
            </ul>
        </div>
        <div class="link-me">
            <a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">咨询更多优惠</a>
        </div>
    </div>
</div><div class="zonghe-list w clearfix">
    <div class="list-img img11 fl"></div>
    <div class="list-message fl">
        <h2>教育类套餐媒体10家（仅需<span>980</span>元 ）</h2>
        <div class="content">
            <ul class="clearfix">
                <li>
                    <span></span>
                    新浪网
                </li>
                <li>
                    <span></span>
                    中国网
                </li>
                <li>
                    <span></span>
                    今日头条
                </li>
                <li>
                    <span></span>
                    新浪网
                </li>
                <li>
                    <span></span>
                    中国网
                </li>
                <li>
                    <span></span>
                    今日头条
                </li>
                <li>
                    <span></span>
                    新浪网
                </li>
                <li>
                    <span></span>
                    中国网
                </li>
                <li>
                    <span></span>
                    今日头条
                </li>
            </ul>
        </div>
        <div class="link-me">
            <a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">咨询更多优惠</a>
        </div>
    </div>
</div>
