<div class="box-img3">
    <div class="w serve-box">
        <div class="title">
            <h2>深挖小红书推荐机制 笔记轻松上热门</h2>
            <div>制定符合小红书推荐算法的营销策略，让品牌</div>
        </div>
        <div class="img-box w"></div>
    </div>
</div>