<div class="box-img3">
    <div class="w serve-box">
        <div class="title">
            <h2>深挖小红书推荐机制 笔记轻松上热门</h2>
            <div class="text">制定符合小红书推荐算法的营销策略，让品牌产品内容触达核心用户，激起潜在消费者购买需求。</div>
        </div>
        <div class="img-box w">
            <div class="show-content clearfix">
                <div class="item clearfix">
                    <a href="javascript:;">
                        <div class="right-content fl">
                            <p class="text-head">内容创意策划，关键词部署</p>
                            <p class="text-content">
                                根据小红书笔记内容标记标签关键字，优化同一关键字和
                                长尾关键字布局，关键词标题写法以及选词策略（竞争度
                                小+超准确+流量大优先选择）
                            </p>
                        </div>
                        <div class="left-content fl one"> </div>
                    </a>
                </div>
                <div class="item clearfix">
                    <a href="javascript:;">
                        <div class="right-content fl">
                            <p class="text-head">账号筛选，高质高权重</p>
                            <p class="text-content">挑选一位或多位与品牌产品标签吻合度高的小红书达人，
                                ta们积累粉丝的忠诚高，更容易在小红书推广中产生裂
                                变价值，获得热门推广。</p>
                        </div>
                       <div class="left-content fl two"> </div>
                    </a>
                </div>
                <div class="item clearfix">
                    <a href="javascript:;">
                        <div class="right-content fl">
                            <p class="text-head">技术专研，精通机制</p>
                            <p class="text-content">精通小红书智能推荐机制，时间切合、数据影响，内容吸
                                引、账号优质等多方位优化，提升小红书推广效果，做到
                                事半功倍。</p>
                        </div>
                       <div class="left-content fl three"> </div>
                    </a>
                </div>
                <div class="item clearfix">
                    <a href="javascript:;">
                        <div class="right-content fl">
                            <p class="text-head">多账号通发，营造现象级效果</p>
                            <p class="text-content">多位高权重网红博主同时在小红书推广某标签，某产品，
                                短时间提升品牌产品关键词热度，形成“今日推荐”。</p>
                        </div>
                        <div class="left-content fl focus"> </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>