.box-img3 {
    // padding-bottom: 150px;
    background-color: #FAFBFE;
    // height: 531px;
    padding-bottom: 100px;
    .serve-box {
        width: 1200px;
        padding-top: 95px;

        .title {
            text-align: center;
            // color: #fff;
            font-size: 20px;
            margin-bottom: 42px;

            h2 {
                font-size: 24px;
            }

            .title2 {
                padding-top: 60px;
            }
        }
    }
    .img-box{
        width: 1164px;
        height: 322px;
        // background: url(../../../images/xiaohongshu_img3.png) no-repeat;
    }
    .show-content {
        width: 1155px;
        height: 450px;
    }

    .item {
        // width: 550px;
        height: 136px;
        float: left;
        border: 1px solid #E5E5E5;
        box-shadow: 0 2px 7px 0 rgba(118, 177, 255, 0.21);
        margin-right: 36px;
        margin-bottom: 36px;
        background-color: #fff;
        box-sizing: border-box;
        border-top:2px solid #3790FF;
        a{
            display: block;
            width: 100%;
            height: 100%;
        }
        &:nth-child(2n) {
            margin-right: 0;
        }

        .left-content {
            width: 118px;
            height: 100%;
            border-right: 1px solid #E5E5E5;
            text-align: center;
            padding-top: 32px;
            box-sizing: border-box;

           &.one{
            background: url(../../../images/xiaohongshu_cehua.png) no-repeat center;
           } 
           &.two{
            background: url(../../../images/xiaohongshu_loudou.png) no-repeat center;
           } 
           &.three{
            background: url(../../../images/xiaohongshu_zhuangyan.png) no-repeat center;
           } 
           &.focus{
            background: url(../../../images/xiaohongshu_duozhanghao.png) no-repeat center;
           } 

    
        }

        .right-content {
            width: 435px;
            height: 100%;
            padding: 24px 36px 22px 20px;
            box-sizing: border-box;
        }

        .text-blue {
            font-size: 36px;
            color: #3790FF;
        }

        .text-time {
            font-size: 12px;
            color: #969696;
        }

        .text-head {
            font-size: 14px;
            color: #555555;
            font-weight: 600;
            margin-bottom: 10px;
        }

        .text-content {
            font-size: 12px;
            color: #969696;
        }
    }
}