<div class="box-img1">
    <div class="w serve-box">
        <div class="title">
            <h2>口碑媒体资源</h2>
            <div>News media resources</div>
        </div>
        <div class="img-box w"></div>
    </div>
</div>