<div class="box-img1">
    <div class="w serve-box">
        <div class="title">
            <h2>软文代写需求收集</h2>
            <div>Soft text generation needs collection</div>
        </div>
        <div class="img-box w"></div>
    </div>
</div>