<div class="box-img2">
    <div class="w serve-box">
        <div class="title">
            <h2>知乎营销服务</h2>
            <div>Know about marketing</div>
        </div>
        <div class="img-box w"></div>
    </div>
</div>