<div class="box-img2">
    <div class="w serve-box">
        <div class="title">
            <h2>办公环境</h2>
            <div>Office environment</div>
        </div>
        <div class="img-box w clearfix J-office-img-box">
            <div class="item icon1"></div>
            <div class="item icon2 active"></div>
            <div class="item icon3"></div>
            <div class="item icon4"></div>
            <div class="item icon5"></div>
            <div class="item icon6"></div>
        </div>
    </div>
</div>