.box-img2 {
    // padding-bottom: 150px;
    background-color: #fff;
    // height: 531px;
    padding-bottom: 30px;
    .serve-box {
        width: 1200px;
        padding-top: 75px;

        .title {
            text-align: center;
            // color: #fff;
            font-size: 20px;
            margin-bottom: 42px;

            h2 {
                font-size: 24px;
            }

            .title2 {
                padding-top: 60px;
            }
        }
    }
    .img-box{
        width: 1140px;
        // height: 498px;
        .item{
            width: 380px;
            height: 240px;
            position: relative;
            float: left;
            &::before{
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;        
                background-color: rgba(0,0,0,.8);
            }
          
            &.active::before{
               display: none;
            }
        }
        .icon1{
            background: url(../../../images/contact_office_img1.png) no-repeat center;
        }
        .icon2{
            background: url(../../../images/contact_office_img2.png) no-repeat center;
        }
        .icon3{
            background: url(../../../images/contact_office_img3.png) no-repeat center;
        }
        .icon4{
            background: url(../../../images/contact_office_img5.png) no-repeat center;
        }
        .icon5{
            background: url(../../../images/contact_office_img5.png) no-repeat center;
        }
        .icon6{
            background: url(../../../images/contact_office_img6.png) no-repeat center;
        }
    }
}