<div class="box-img2">
    <div class="w serve-box">
        <div class="title">
            <h2>百科营销服务优势</h2>
            <div>Advantages of Encycl</div>
        </div>
        <div class="img-box w"></div>
    </div>
</div>