<div class="box-img-no-2">
    <div class="serve-box w clearfix">
        <div class="text-box fl">
            <h2>小红书是手机里的随身手账</h2>
            <p>跟其他电商产品将更多重心放在商品导购页面上不同，小红书更加注重 讲故事，
                打造了一个购物分享社区，通过笔记和KOL的种草、测评、科普，多角度+场景
                化了解商品属性，让信息更加的具有附着力，从而促进用户产生购买行为。</p>
        </div>
        <div class="img-box fl"></div>
    </div>
</div>