<div class="list-one">
    <div class="w list-box">
        <ul>
            <li class="line">
                <spa class="icon1"></spa>
                <span class="text">
                    <div class="bold">内容策划</div>
                    <div class="normal">为你量身定做最合适内容</div>
                </span>
            </li>
            <li class="line">
                <spa class="icon2"></spa>
                <span class="text">
                    <div class="bold">KOL传播</div>
                    <div class="normal">手把手教你撩优质KOL</div>
                </span>
            </li>
             <li>
                <spa class="icon3"></spa>
                <span class="text">
                    <div class="bold">技术支持</div>
                    <div class="normal">专业技术支持，稳定快捷</div>
                </span>
            </li>
        </ul>
    </div>
</div>