<div class="banner">
    <div class="banner-content-box w">
        <div class="content">
            <div class="blod">数媒网，您的内容营销专家</div>
            <div class="normal">让您的品牌、产品得到更有效的传播，节省推广费</div>
            <div class="contact">立即咨询 <i>></i></div>
        </div>
    </div>
</div>