.ant-list-vertical .ant-list-item-meta-title{
    color: #fff;
}
.ant-list-item-meta-title > a{
    color: #fff;
}
.ant-list-vertical .ant-list-item-content{
    color: #fff;
}
.ant-list-item-meta-description{
    color: #fff;
}