<div class="banner">
    <div class="banner-content-box w">
        <div class="content">
            <div class="blod">百科营销</div>
            <div class="normal">让您的品牌更值得赖</div>
            <div class="normal">百科营销是利用百科知识的传播建立企业的品牌和知名度的内容营销方法。</div>
            <div class="normal"> 百科审核规范严格，内容有权威性，可有效规避公众的商业防御心理，增加品牌信任度。</div>
            <div class="contact"><a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">立即咨询  <i>></i></a></div>
        </div>
    </div>
</div>