<div class="box-img4">
    <div class="w serve-box">
        <div class="title">
            <h2>红人博主各有招数 种草效果全面保障</h2>
            <div></div>
        </div>
         {{> './wanghong.hbs'}}
        <div class="img-box2 w">
            <div class="mod_body">
                <ul class="xiaohongshu_seven_nav clearfix">
                    <li class="xiaohongshu_seven_1">
                        <div class="seven_wrap">
                            <div class="seven_head">
                                <div class="seven_price" title="小红书明星KOL推广套餐">明星KOL爆款套餐</div>
                            </div>
                            <div class="seven_deac">
                                <div class="seven_deac_title">方案策划（初案+<span class="text-yellow">终案</span>） </div>
                                <p>1、品牌小红书推广传播预案+终案；</p>
                                <p>2、媒体传播规划表；</p>
                            </div>
                            <div class="seven_deac">
                                <div class="seven_deac_title">内容策划（<span class="text-yellow">12篇</span>稿件+若干素材）</div>
                                <p>1、小红书笔记/微信稿/微博稿/新闻稿/口碑文案等；</p>
                                <p>2、若干广告图片短视频H5站点等素材设计；</p>
                                <p>3、文案排版、预览制作等；</p>
                            </div>
                            <div class="seven_deac">
                                <div class="seven_deac_title">媒介策略（<span class="text-yellow">媒体组合</span>+排期表）</div>
                                <p>1、定制小红书媒体传播矩阵图；</p>
                                <p>2、确认媒体发布及发布比例；</p>
                            </div>
                            <div class="seven_deac">
                                <div class="seven_deac_title">多元渠道推广（<span class="text-yellow">2000+</span>媒体发布）</div>
                                <p>1、小红书明星KOL推广：1个明星or头部KOL、20+中部网红、100+尾部红人；</p>
                                <p>2、新闻公关发稿引起社会舆论；</p>
                                <p>3、微信垂直类KOL大号站台代言推荐；</p>
                                <p>4、微博垂直类KOL大号背书站台；</p>
                                <p>5、搜索引擎关键字覆盖：贴吧/知道/文库等；</p>
                                <p>6、社交舆论：知乎/QQ空间/简书；</p>
                                <p>7、移动流量：50W+移动流量曝光；</p>
                                <p>8、赠送产品运营服务；</p>
                                <p>9、社群推送：目标社群群发、高质朋友圈扩散；</p>
                            </div>
                            <div class="seven_deac">
                                <div class="seven_deac_title">效果监测（<span class="text-yellow">结案报告</span>+后续推广建议）</div>
                                <p>1、网页收录、新闻源、平台推荐等发布效果反馈；</p>
                                <p>2、根据本轮投放数据，提出下阶段投放策略。</p>
                            </div>
                            <div class="seven_btn"><a title="查看小红书明星KOL推广套餐服务详情" href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes"
                                    data-event="wpa_qq" class="btn btn-danger" data-type="customer_qq">立即咨询特惠套餐</a>
                            </div>
                        </div>
                    </li>
                    <li class="xiaohongshu_seven_2">
                        <div class="seven_wrap"><i class="icon-label"></i>
                            <div class="seven_head">
                                <div class="seven_price" title="小红书网红推广套餐">网红联动霸屏套餐</div>
                            </div>
                            <div class="seven_deac">
                                <div class="seven_deac_title">方案策划（初案+<span class="text-yellow">终案</span>）</div>
                                <p>1、品牌小红书推广传播预案+终案；</p>
                                <p>2、媒体传播规划表；</p>
                            </div>
                            <div class="seven_deac">
                                <div class="seven_deac_title">内容策划（<span class="text-yellow">8篇</span>稿件+若干素材）</div>
                                <p>1、小红书笔记/微信稿/微博稿/新闻稿/口碑文案等；</p>
                                <p>2、若干广告图片短视频等素材设计；</p>
                                <p>3、文案排版、预览制作等；</p>
                            </div>
                            <div class="seven_deac">
                                <div class="seven_deac_title">媒介策略（<span class="text-yellow">媒体组合</span>+排期表）</div>
                                <p>1、定制小红书媒体传播矩阵图；</p>
                                <p>2、确认媒体发布及发布比例；</p>
                            </div>
                            <div class="seven_deac">
                                <div class="seven_deac_title">多元化渠道推广（<span class="text-yellow">1000+</span>媒体发布）</div>
                                <p>1、小红书网红推广：5+中部网红、30+尾部红人；</p>
                                <p>2、新闻公关发稿引起社会舆论；</p>
                                <p>3、微信垂直类KOL大号站台代言推荐；</p>
                                <p>4、微博垂直类KOL大号背书站台；</p>
                                <p>5、搜索引擎关键字覆盖：贴吧/知道/文库等；</p>
                                <p>6、社交舆论：知乎/QQ空间/简书；</p>
                            </div>
                            <div class="seven_deac">
                                <div class="seven_deac_title">优化投放路径（首量投放<span class="text-yellow">分析调优</span>）</div>
                                <p>1、周期性低成本小量形式进行定期的舆论引导传播和效果人群传播；</p>
                            </div>
                            <div class="seven_deac">
                                <div class="seven_deac_title">效果监测（<span class="text-yellow">结案报告</span>+后续推广建议）</div>
                                <p>1、生产笔记数、评论点赞数、获取收藏数等数据报告；</p>
                                <p>2、计算投放效果比和路径效果比，为下轮投放做依据。</p>
                            </div>
                            <div class="seven_btn" style="margin: 26px auto;"><a title="查看小红书网红推广套餐服务详情" href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes"
                                    data-event="wpa_qq" class="btn btn-danger" data-type="customer_qq">立即咨询特惠套餐</a>
                            </div>
                        </div>
                    </li>
                    <li class="xiaohongshu_seven_3" >
                        <div class="seven_wrap">
                            <div class="seven_head">
                                <div class="seven_price" title="小红书红人种草推广套餐">红人种草测评套餐</div>
                            </div>
                            <div class="seven_deac">
                                <div class="seven_deac_title">方案策划（初案+<span class="text-yellow">终案</span>）</div>
                                <p>1、品牌小红书推广传播预案+终案；</p>
                                <p>2、媒体传播规划表；</p>
                            </div>
                            <div class="seven_deac">
                                <div class="seven_deac_title">内容策划（<span class="text-yellow">4篇</span>稿件+若干素材）</div>
                                <p>1、小红书笔记稿件；</p>
                                <p>2、若干广告图片等素材设计；</p>
                                <p>3、文案排版、预览制作等；</p>
                            </div>
                            <div class="seven_deac">
                                <div class="seven_deac_title">媒介策略（<span class="text-yellow">媒体组合</span>+排期表）</div>
                                <p>1、定制小红书媒体传播矩阵图；</p>
                                <p>2、确认媒体发布及发布比例；</p>
                            </div>
                            <div class="seven_deac">
                                <div class="seven_deac_title">多元渠道推广(<span class="text-yellow">500+</span>媒体发布）</div>
                                <p>1、小红书大量红人博主站台背书，口碑与效果双收：20+红人博主；</p>
                            </div>
                            <div class="seven_deac">
                                <div class="seven_deac_title">优化投放路径（首量投放<span class="text-yellow">分析调优</span>）</div>
                                <p>1、周期性低成本小量形式进行定期的舆论引导传播和效果人群传播；</p>
                            </div>
                            <div class="seven_deac">
                                <div class="seven_deac_title">效果监测（结案报告<span class="text-yellow">分析调优</span>+后续推广建议）
                                </div>
                                <p>1、生产笔记数、评论点赞数、获取收藏数等数据报告；</p>
                                <p>2、计算投放效果比和路径效果比，为下轮投放做依据；</p>
                            </div>
                            <div class="seven_deac">
                                <div class="seven_deac_title">套餐优势（<span class="text-yellow">执行快速</span>）</div>
                                <p>1、20+新小红书红人博主响应迅速、执行效率高、配合度高，最快1天完成执行；</p>
                                <p>2、效果预估：上首页推荐；单天曝光达百万。</p>
                            </div>
                            <div class="seven_btn" style="    margin: 14px auto;"><a title="查看小红书红人种草推广套餐详情" href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes"
                                    data-event="wpa_qq" class="btn btn-danger" data-type="customer_qq">立即咨询特惠套餐</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>