<div class="my_advantages">
    <div class="w advantages-box">
        <div class="title">
            <h2>您可能面对的问题</h2>
            <div>The difficulties you</div>
        </div>
        <ul>
            <li class="icon1"> </li>
            <li class="icon2">
                <div class="normal">百科词条 <span>无法建立</span></div>
            </li>
            <li class="icon3"> </li>
            <li class="icon4">

                <div class="normal">百科内容 <span>修改不成功</span></div>
            </li>
            <li class="icon5">

                <div class="normal">百科图片 <span>无法上传</span></div>
            </li>
            <li class="icon6"></li>
            <li class="icon5">
                <div class="normal">百科词条 <span>搜索不到</span></div>
            </li>
            <li class="icon8"></li>
        </ul>
    </div>
</div>