<div class="my_serve">
    <div class="w serve-box">
        <div class="title">
            <h2>我们的优势</h2>
            <div>Our advantages</div>
        </div>
        <ul>
            <li>
                <div class="icon1 icon"></div>
                <div class="bold">丰富资源 </div>
                <div class="normal">拥有2000+小红书大号、20000+小红书真实用户100+专业知乎编辑写手团队</div>
            </li>
            <li>
                <div class="icon2 icon"></div>
                <div class="bold">小红书经验</div>
                <div class="normal">研究小红书算法5年，精通小红书平台算法，借势知小红书大数据算法，通过专业优化提升回答排名
                </div>

            </li>
            <li>
                <div class="icon3 icon"></div>
                <div class="bold">服务团队</div>
                <div class="normal">团队来至上市公司策划过Olay、京东、唯品会、
                    王老吉、美的等品牌小红书活动传播，并让获
                    取良好排名和互动传播
                </div>
            </li>

        </ul>
    </div>
</div>