<div class="my_advantages">
    <div class="w advantages-box">
        <div class="title">
            <h2>您可能面对的问题</h2>
            <div>The difficulties you</div>
        </div>
        <ul>
            <li class="icon1"> </li>
            <li class="icon2">
                <div class="normal">内容不符合SEO <span>搜索不到</span></div>
            </li>
            <li class="icon3"> </li>
            <li class="icon4">

                <div class="normal">内容没有借时事热点 <span>错失传播</span> </div>
            </li>
            <li class="icon5">

                <div class="normal">内容过硬 <span>发布被删除</span>  </div>
            </li>
            <li class="icon6"></li>
            <li class="icon5">
                <div class="normal">缺少行业知识<span>不够专业</span> </div>
            </li>
            <li class="icon8"></li>
        </ul>
    </div>
</div>