<div class="footer">
    <div class="footer-content w">

        <div class="list">
            <ul class="clearfix">
                <li>
                    <p class="title">新闻微信客服</p>
                    <div class="imgbox news"></div>
                </li>
                <li>
                    <p class="title">百科微信客服</p>
                    <div class="imgbox baidu"></div>
                </li>

                <li>
                    <p class="title">关于我们</p>
                    <div class="linkbox">
                        <a href="/html/contactPage.html">公司简介</a>
                        <a href="/html/contactPage.html">联系我们</a>
                        <a href="">加入我们</a>
                        <a href="">会员等级</a>
                    </div>
                </li>
                <li>
                    <p class="title">公司业务</p>
                    <div class="linkbox">
                        <a href="">搜索优化</a>
                        <a href="">新闻营销</a>
                        <a href="">百科营销</a>
                        <a href="">软文撰写</a>
                        <a href="">知乎营销</a>
                        <a href="">口碑营销</a>
                        <a href="">小红书营销</a>
                        <a href="">自媒体营销</a>
                    </div>
                </li>
                <li>
                    <p class="title">常见问题</p>
                    <div class="linkbox">
                        <a href="">付款问题</a>
                        <a href="">新闻问题</a>
                        <a href="">百科问题</a>
                        <a href="">知乎问题</a>
                        <a href="">软文问题</a>
                        <a href="">SEO问题</a>
                        <a href="">问答问题</a>
                        <a href="">自媒体问题</a>
                    </div>
                </li>
                <li class="serve">
                    <div class="phone">18665594799</div>
                    <div class="message">全国免费服务热线</div>
                    <div>
                        <a class="qq" href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">
                            <span></span>
                            新闻客服
                        </a>

                    </div>
                    <div >
                        <a class="bai" href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">
                            <span></span>
                            百科客服
                         </a>
                    </div>
                </li>
            </ul>

        </div>
        <div class="text">
            数媒网让您的内容上头条
        </div>
    </div>
</div>
<div class="lo">
    Copyright @ 2017 数媒网 广州得人科技有限公司
</div>