.footer {
    background: #464C57;
    // height: 650px;
    color: #fff;

    .footer-content {
        width: 1200px;
        padding-top: 75px;
    }

    .list {
        margin-bottom: 100px;

        li {
            float: left;
            margin-right: 52px;
        }

        .title {
            font-size: 18px;
            margin-bottom: 17px;
            // font-weight: 600;
        }

        .imgbox {
            width: 156px;
            height: 207px;

            &.news {
                background: url(../../images/news_wx_server.png) no-repeat;
            }

            &.baidu {
                background: url(../../images/baidu_wx_server.png) no-repeat;
            }

            background-color: red;
        }

        .linkbox {
            text-align: center;
            font-size: 14px;

            a {
                display: block;
                color: #999;
                margin-bottom: 12px;

                &:hover {
                    color: #e8bc65;
                }
            }
        }

        .serve {
            margin-left: 68px;
            text-align: center;

            .phone {
                font-family: MicrosoftYaHei-Bold;
                font-size: 24px;
                font-weight: 600;

            }

            .message {
                font-size: 18px;
            }

            .qq {
                width: 163px;
                height: 35px;
                font-size: 14px;
                background-color: #3790FF;
                margin-bottom: 8px;
                margin-top: 28px;
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    display: inline-block;
                    width: 12px;
                    height: 13px;
                    background: url(../../images/qq_icon.png) no-repeat;
                    margin-right: 10px;
                }

                &:hover {
                    color: #e8bc65;
                }

                color: #fff;
            }

            .bai {
                width: 163px;
                height: 35px;
                font-size: 14px;
                background-color: #3790FF;
                display: flex;
                // justify-content: center;
                align-items: center;
                span {
                    display: inline-block;
                    width: 12px;
                    height: 13px;
                    background: url(../../images/qq_icon.png) no-repeat;
                    margin-right: 38px;
                    position: relative;
                    left: 29px;
                
                }
                &:hover {
                    color: #e8bc65;
                }

                color: #fff;
            }
        }
    }

    .text {
        font-size: 18px;
        text-align: center;
        padding-bottom: 27px;
        color: #999999;
    }
}

.lo {
    background: #3E444F;
    height: 100px;
    text-align: center;
    padding-top: 27px;
    color: #999999;

}