<div class="ind_remen">
  <div class="w bd">
    <div class="ind_reimg">
      <p class="en">HOT PRO JECT</p>
      <p class="cn">热门套餐</p>
    </div>
    <div class="ind_remen_con">
      <div class="ind_rem_title J-ind_rem_title">
        <a class="fl active" data-index="0">品牌信息铺垫</a>
        <a class="fr" data-index="1">品牌整合营销</a>
      </div>

      <ul class="ppcj J-ppcj clearfix" style="display: block;">

        <li class="ind_rem_dl">
          <div class="rem_dt_title">基础版</div>
          <div class="rem_pp J-rem_pp">
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">新闻稿件撰写</span><span
                class="remen_s">2篇</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">门户（地方）新闻媒体报道</span><span
                class="remen_s">3篇</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">垂直新闻媒体报道</span><span
                class="remen_s">5篇</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">问答内容撰写</span><span
                class="remen_s">100组</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">百度知道发布</span><span
                class="remen_s">100组</span></div>
          </div>
          <div class="clearfix"></div>
          <div class="load J-load"></div>
          <div class="rem_dt_foot">优惠价 <span style="color:red">2200</span>元/次 <span
              style="text-decoration:line-through;">3388</span></div>
          <div class="Purchase"><a href="/shumei/html/addServePage.html">立即购买</a></div>
        </li>

        <li class="ind_rem_dl" >
          <div class="rem_dt_title" >进阶版</div>
          <div class="rem_pp J-rem_pp">
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">新闻稿件撰写</span><span
                class="remen_s">2篇</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">门户（地方）新闻媒体报道</span><span
                class="remen_s">3篇</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">垂直新闻媒体报道</span><span
                class="remen_s">5篇</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">问答内容撰写</span><span
                class="remen_s">100组</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">百度知道发布</span><span
                class="remen_s">100组</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">百度口碑评价（需要贵官网开通百度口碑）</span><span
                class="remen_s">100个</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">论坛发帖</span><span
                class="remen_s">100贴</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">B2B发帖</span><span
                class="remen_s">100贴</span></div>
          </div>
          <div class="clearfix"></div>
          <div class="load J-load">加载全部</div>
          <div class="rem_dt_foot">优惠价 <span style="color:red">3300</span>元/次 <span
              style="text-decoration:line-through;">4880</span></div>
          <div class="Purchase"><a href="/shumei/html/addServePage.html">立即购买</a></div>
        </li>

        <li class="ind_rem_dl" >
          <div class="rem_dt_title" >高级版</div>
          <div class="rem_pp J-rem_pp">
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">新闻稿件撰写</span><span
                class="remen_s">2篇</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">门户（地方）新闻媒体报道</span><span
                class="remen_s">3篇</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">垂直新闻媒体报道</span><span
                class="remen_s">8篇</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">问答内容撰写</span><span
                class="remen_s">100组</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">百度知道发布</span><span
                class="remen_s">100组</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">百度口碑评价（需要贵官网开通百度口碑）</span><span
                class="remen_s">100个</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">论坛发帖</span><span
                class="remen_s">100贴</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">B2B发帖 </span><span
                class="remen_s">100贴</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">文库类平台上传</span><span
                class="remen_s">2篇</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">百度地图标注</span><span
                class="remen_s">1个</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">百度客服电话认证</span><span
                class="remen_s">1个</span></div>
            <div class="rem_info">
              <p>（注意：可能有30-50家地方媒体转载）</p>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="load J-load">加载全部</div>
          <div class="rem_dt_foot">优惠价 <span style="color:red">6100</span>/次 <span
              style="text-decoration:line-through;">7999</span></div>
          <div class="Purchase"><a href="/shumei/html/addServePage.html">立即购买</a></div>
        </li>

      </ul>
      <ul class="ppcj J-ppcj clearfix" style="display: none;">
        <li class="ind_rem_dl" >
          <div class="rem_dt_title" >基础版</div>
          <div class="rem_pp J-rem_pp">
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">撰写软文(用于网媒、自媒体投放)</span><span
                class="remen_s">3篇</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">A1 门户地方网媒投放</span><span
                class="remen_s">25-28家</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span
                class="remen_t">自媒体资讯发布(包括不限于简书、头条、新浪博客、微博等)</span><span class="remen_s"> 20-22个</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">今日头条智能推荐</span><span
                class="remen_s">1篇</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">问答内容撰写</span><span
                class="remen_s">100组</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">百度知道发布</span><span
                class="remen_s">100组</span></div>
          </div>
          <div class="clearfix"></div>
          <div class="load J-load">加载全部</div>
          <div class="rem_dt_foot">价格 <span style="color:red">5999</span>元</div>
          <div class="Purchase"><a href="/shumei/html/addServePage.html">立即购买</a></div>
        </li>

        <li class="ind_rem_dl" >
          <div class="rem_dt_title" >进阶版</div>
          <div class="rem_pp J-rem_pp">
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">撰写软文(用于网媒、自媒体投放)</span><span
                class="remen_s">5篇</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">A1 门户地方网媒投放</span><span
                class="remen_s">25-28家</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span
                class="remen_t">自媒体资讯发布(包括不限于简书、头条、新浪博客、微博等)</span><span class="remen_s"> 22-25个</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">今日头条智能推荐</span><span
                class="remen_s">1篇</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">搜狐自媒体智能推荐</span><span
                class="remen_s">1篇</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">问答内容撰写</span><span
                class="remen_s">100组</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">百度知道发布</span><span
                class="remen_s">100组</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">百度知道发布(不指定具体ID吧)</span><span
                class="remen_s">100组</span></div>
          </div>
          <div class="clearfix"></div>
          <div class="load J-load">加载全部</div>
          <div class="rem_dt_foot">价格 <span style="color:red">7999</span>元</div>
          <div class="Purchase"><a href="/shumei/html/addServePage.html">立即购买</a></div>
        </li>

        <li class="ind_rem_dl" >
          <div class="rem_dt_title" >高级版</div>
          <div class="rem_pp J-rem_pp">
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">撰写软文(用于网媒、自媒体投放)</span><span
                class="remen_s">5篇</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">A1 门户地方网媒投放</span><span
                class="remen_s">25-28家</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span
                class="remen_t">自媒体资讯发布(包括不限于简书、头条、新浪博客、微博等)</span><span class="remen_s"> 22-25个</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">今日头条智能推荐</span><span
                class="remen_s">1篇</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">搜狐自媒体智能推荐</span><span
                class="remen_s">1篇</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">央级网媒文字链广告</span><span
                class="remen_s"></span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">门户知名网媒文字链广告</span><span
                class="remen_s"></span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">问答内容撰写</span><span
                class="remen_s">100组</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">百度知道发布</span><span
                class="remen_s">100组</span></div>
            <div class="rem_info"><span class="remen_g">√</span><span class="remen_t">百度知道发布(不指定具体ID吧)</span><span
                class="remen_s">100组</span></div>
          </div>
          <div class="clearfix"></div>
          <div class="load J-load">加载全部</div>
          <div class="rem_dt_foot">价格 <span style="color:red">17999</span>元</div>
          <div class="Purchase"><a href="/shumei/html/addServePage.html">立即购买</a></div>
        </li>
      </ul>
    </div>
  </div>
</div>