<div class="zonghe-list w clearfix">
    <div class="list-img img1 fl"></div>
    <div class="list-message fl">
        <h2>包收录套餐媒体10家（仅需<span>488</span>元，十大收录媒体，出稿快、收录快）</h2>
        <div class="content">
            <ul class="clearfix">
                <li>
                    <span></span>企业时报网 </li>
                <li>
                    <span></span>百家号 </li>
                <li>
                    <span></span>搜狐网 </li>
                <li>
                    <span></span>中华网 </li>
                <li>
                    <span></span>中国网 </li>
                <li>
                    <span></span>国际日报 </li>
                <li>
                    <span></span>中国企业网 </li>
                <li>
                    <span></span>大众网 </li>
                <li>
                    <span></span>赛迪网 </li>
                <li>
                    <span></span>小熊在线 </li>

            </ul>
        </div>
        <div class="link-me">
            <a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">咨询更多优惠</a>
        </div>
    </div>
</div>
<div class="zonghe-list w clearfix">
    <div class="list-img img2 fl"></div>
    <div class="list-message fl">
        <h2>门户综合套餐媒体（仅需<span>488</span>元）</h2>
        <div class="content">
            <ul class="clearfix">
                <li>
                    <span></span>网易 </li>
                <li>
                    <span></span>中国网 </li>
                <li>
                    <span></span>中华网 </li>
                <li>
                    <span></span>凤凰网 </li>
                <li>
                    <span></span>腾讯网 </li>
                <li>
                    <span></span>百家号 </li>
                <li>
                    <span></span>企业时报网 </li>
                <li>
                    <span></span>新浪网 </li>
                <li>
                    <span></span>中国企业新闻网 </li>
                <li>
                    <span></span>中国市场网 </li>
            </ul>
        </div>
        <div class="link-me">
            <a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">咨询更多优惠</a>
        </div>
    </div>
</div>
<div class="zonghe-list w clearfix">
    <div class="list-img img3 fl"></div>
    <div class="list-message fl">
        <h2>IT科技套餐媒体10家（仅需<span>688</span>元）</h2>
        <div class="content">
            <ul class="clearfix">
                <li>
                    <span></span>赛迪网 </li>
                <li>
                    <span></span>泡泡网 </li>
                <li>
                    <span></span>IT168 </li>
                <li>
                    <span></span>小熊在线 </li>
                <li>
                    <span></span>慧聪网IT </li>
                <li>
                    <span></span>硅谷网 </li>
                <li>
                    <span></span>中关村商情网 </li>
                <li>
                    <span></span>鹿科技网 </li>
                <li>
                    <span></span>DOIT </li>
                <li>
                    <span></span>搜狐科技 </li>
            </ul>
        </div>
        <div class="link-me">
            <a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">咨询更多优惠</a>
        </div>
    </div>
</div>
<div class="zonghe-list w clearfix">
    <div class="list-img img4 fl"></div>
    <div class="list-message fl">
        <h2>商业财经类套餐媒体10家（仅需<span>688</span>元） </h2>
        <div class="content">
            <ul class="clearfix">
                <li>
                    <span></span>中华网财经 </li>
                <li>
                    <span></span>搜狐网财经 </li>
                <li>
                    <span></span>中国商业观察网 </li>
                <li>
                    <span></span>金投网 </li>
                <li>
                    <span></span>云掌财经网 </li>
                <li>
                    <span></span>南方财富网 </li>
                <li>
                    <span></span>中国商业网 </li>
                <li>
                    <span></span>中国财经信息网 </li>
                <li>
                    <span></span>东方财富周刊 </li>
                <li>
                    <span></span>投资中国网 </li>
            </ul>
        </div>
        <div class="link-me">
            <a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">咨询更多优惠</a>
        </div>
    </div>
</div>
<div class="zonghe-list w clearfix">
    <div class="list-img img5 fl"></div>
    <div class="list-message fl">
        <h2>房产家居套餐媒体10家（仅需<span>788</span>元 ）</h2>
        <div class="content">
            <ul class="clearfix">
                <li>
                    <span></span>腾讯家居 </li>
                <li>
                    <span></span>新浪家居 </li>
                <li>
                    <span></span>慧聪网家居 </li>
                <li>
                    <span></span>网易家居 </li>
                <li>
                    <span></span>太平洋家居 </li>
                <li>
                    <span></span>中国家居网 </li>
                <li>
                    <span></span> 凤凰网居悦 </li>
                <li>
                    <span></span>家居在线 </li>
                <li>
                    <span></span>华夏家居网 </li>
                <li>
                    <span></span>猎房网 </li>
            </ul>
        </div>
        <div class="link-me">
            <a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">咨询更多优惠</a>
        </div>
    </div>
</div>
<div class="zonghe-list w clearfix">
    <div class="list-img img6 fl"></div>
    <div class="list-message fl">
        <h2>女性时尚类套餐媒体10家（仅需<span>888</span> 元）</h2>
        <div class="content">
            <ul class="clearfix">
                <li>
                    <span></span>
                    搜狐时尚
                </li>
                <li>
                    <span></span>
                    搜狐汽车
                </li>
                <li>
                    <span></span>
                    网易汽车
                </li>
                <li>
                    <span></span>
                    中国汽车网
                </li>
                <li>
                    <span></span>
                    汽车点评网
                </li>
                <li>
                    <span></span>
                    中国汽车消费网
                </li>
                <li>
                    <span></span>
                    新浪汽车
                </li>
                <li>
                    <span></span>
                    凤凰汽车
                </li>
                <li>
                    <span></span>
                    中国汽车网
                </li>
            </ul>
        </div>
        <div class="link-me">
            <a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">咨询更多优惠</a>
        </div>
    </div>
</div>
<div class="zonghe-list w clearfix">
    <div class="list-img img7 fl"></div>
    <div class="list-message fl">
        <h2>健康医疗类套餐媒体10家（仅需<span>888</span> 元）</h2>
        <div class="content">
            <ul class="clearfix">
                <li>
                    <span></span>搜狐健康 </li>
                <li>
                    <span></span>中国健康网 </li>
                <li>
                    <span></span>健康报 </li>
                <li>
                    <span></span>中国健康新闻网 </li>
                <li>
                    <span></span>中国医药网 </li>
                <li>
                    <span></span>健康资讯网 </li>
                <li>
                    <span></span>华人健康网 </li>
                <li>
                    <span></span>现代健康网 </li>
                <li>
                    <span></span>华人健康网 </li>
                <li>
                    <span></span>健康日报 </li>
            </ul>
        </div>
        <div class="link-me">
            <a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">咨询更多优惠</a>
        </div>
    </div>
</div>
<div class="zonghe-list w clearfix">
    <div class="list-img img8 fl"></div>
    <div class="list-message fl">
        <h2>旅游类套餐媒体10家（仅需<span>888</span> 元）</h2>
        <div class="content">
            <ul class="clearfix">
                <li>
                    <span></span>搜狐旅游 </li>
                <li>
                    <span></span>中国旅游新闻网 </li>
                <li>
                    <span></span>中国旅行网 </li>
                <li>
                    <span></span>环球旅游网 </li>
                <li>
                    <span></span>中华户外网 </li>
                <li>
                    <span></span>千龙网旅游 </li>
                <li>
                    <span></span>游多多 </li>
                <li>
                    <span></span>慧聪旅游 </li>
                <li>
                    <span></span>野驴网 </li>
                <li>
                    <span></span>旅游界 </li>
            </ul>
        </div>
        <div class="link-me">
            <a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">咨询更多优惠</a>
        </div>
    </div>
</div>
<div class="zonghe-list w clearfix">
    <div class="list-img img9 fl"></div>
    <div class="list-message fl">
        <h2>游戏类套餐媒体10家（仅需<span>888</span> 元 ）</h2>
        <div class="content">
            <ul class="clearfix">
                <li>
                    <span></span>腾讯游戏 </li>
                <li>
                    <span></span>凤凰游戏 </li>
                <li>
                    <span></span>太平洋游戏 </li>
                <li>
                    <span></span>搜狐游戏 </li>
                <li>
                    <span></span>游戏王国 </li>
                <li>
                    <span></span>玩游戏网 </li>
                <li>
                    <span></span>游戏梦网 </li>
                <li>
                    <span></span>多游网 </li>
                <li>
                    <span></span>游戏盒子 </li>
                <li>
                    <span></span>游戏狗 </li>

            </ul>
        </div>
        <div class="link-me">
            <a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">咨询更多优惠</a>
        </div>
    </div>
</div>
<div class="zonghe-list w clearfix">
    <div class="list-img img10 fl"></div>
    <div class="list-message fl">
        <h2>教育套餐媒体10家（仅需<span>988</span> ）</h2>
        <div class="content">
            <ul class="clearfix">
                <li>
                    <span></span>搜狐教育 </li>
                <li>
                    <span></span>光明教育网 </li>
                <li>
                    <span></span>聪慧教育网 </li>
                <li>
                    <span></span>中华教育网 </li>
                <li>
                    <span></span>网易读书 </li>
                <li>
                    <span></span>南方网教育 </li>
                <li>
                    <span></span>北方网教育 </li>
                <li>
                    <span></span>科教网 </li>
                <li>
                    <span></span>中国新教育网 </li>
                <li>
                    <span></span>中华教育网 </li>
            </ul>
        </div>
        <div class="link-me">
            <a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">咨询更多优惠</a>
        </div>
    </div>
</div>
<div class="zonghe-list w clearfix">
    <div class="list-img img11 fl"></div>
    <div class="list-message fl">
        <h2>母婴类套餐媒体10家（仅需<span>988</span>元 ）</h2>
        <div class="content">
            <ul class="clearfix">
                <li>
                    <span></span>太平洋亲子 </li>
                <li>
                    <span></span>搜狐母婴 </li>
                <li>
                    <span></span>中国孕婴网 </li>
                <li>
                    <span></span>中国母婴网 </li>
                <li>
                    <span></span>妈咪爱婴网 </li>
                <li>
                    <span></span>亲亲育儿网 </li>
                <li>
                    <span></span>妈妈网 </li>
                <li>
                    <span></span>中国早教网 </li>
                <li>
                    <span></span>中国婴童在线 </li>
                <li>
                    <span></span>妈妈育儿网 </li>
            </ul>
        </div>
        <div class="link-me">
            <a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">咨询更多优惠</a>
        </div>
    </div>
</div>