<div class="my_advantages">
    <div class="w advantages-box">
        <div class="list">
            <span class="title">背景：</span>
            <span>
                广药集团”正值活动十五周年，与老百姓大药房、一心堂、国大药房、大参林、海王星辰、成大方圆、张仲景大药房、怡康医药、阿里健康等医药终端连锁在广州正式组建“家
                庭过期药品回收终端联盟”，需要创建一个百科，介绍活动的信息，提升“广药集团”品牌形象。
            </span>
        </div>
        <div class="list">
            <span class="title">问题：</span>
            <span>本词条偏医药类，属于网络打击范围，他们找5了家供应商都未创建成功 </span>
        </div>
        <div class="list">
            <span class="title">效果：</span>
            <span>我们成功创建百科词条“家庭过期药品回收机制”，并优化至“过期药品回收”、“家庭过期药品回收”关键词首页排名。 </span>
        </div>
    </div>
</div>