<div class="box-img1">
    <div class="w serve-box">
        <div class="title">
            <h2>知乎话题产品种草和排名优化</h2>
        </div>
        <div class="img-box1 w clearfix">
            <div class="fl text">洗 碗 机 好 用 吗 ？ 适 合 中 国 吗 ？</div>
            <div class="fr img1"></div>
        </div>

        <div class="img-box2 w clearfix">
            <div class="fl text">有
                哪
                些
                好
                用
                的
                家
                用
                洗
                碗
                机
                值
                得
                推
                荐
                ？
            </div>
            <div class="fr img2"></div>
        </div>
    </div>
</div>