<div class="my_advantages">
    <div class="w advantages-box">
        <div class="title">
            <h2>您可能面对的问题</h2>
            <div>The difficulties you</div>
        </div>
        <ul>
            <li class="icon1"> </li>
            <li class="icon2">
                <div class="normal">发布内容传播不够 用户<span>互动性一般</span></div>
            </li>
            <li class="icon3"> </li>
            <li class="icon4">

                <div class="normal">优化过渡 内容<span>易被删除</span></div>
            </li>
            <li class="icon5">

                <div class="normal">小红书大号资源 <span>可选择少</span></div>
            </li>
            <li class="icon6"></li>
            <li class="icon5">
                <div class="normal">优化内容 <span>排名不好</span></div>
            </li>
            <li class="icon8"></li>
        </ul>
    </div>
</div>