<div class="choice-company">
     <div class="title">
        <h2>新闻媒体资源</h2>
        <div>News media resources</div>
        <div class="title2">部分网媒展示（8000家网站，直接编辑）</div>
    </div>
    <!-- Swiper -->
    <div class=" swiper-container J-swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="company-logo">
                    <span class="icon1"></span>
                    <span class="icon2"></span>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="company-logo">
                    <span class="icon3"></span>
                    <span class="icon4"></span>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="company-logo">
                    <span class="icon5"></span>
                    <span class="icon6"></span>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="company-logo">
                    <span class="icon7"></span>
                    <span class="icon8"></span>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        {{!-- <div class="swiper-pagination"></div> --}}
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>