<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="Author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>数媒网</title>
    {{> '../../../modules/public/head.hbs'}}
    <link rel="stylesheet" href="../common/swiper/swiper.min.css">
    <link rel="stylesheet" href="../css/annulationTwoPage.css">
</head>


<body>
    {{!-- 头部导航 --}}
    {{> '../components/head/index.hbs'}}
    {{> '../components/annulationTwoPage/banner/index.hbs'}}
    {{> '../components/annulationTwoPage/table/index.hbs'}}
    {{!-- all_choice --}}
    {{> '../components/annulationTwoPage/all_choice/index.hbs'}}
    {{!-- choice_company --}}
    {{> '../components/annulationTwoPage/choice_company/index.hbs'}}
    {{!-- choice_example --}}
    {{> '../components/annulationTwoPage/choice_example/index.hbs'}}

    {{!-- footer --}}
    {{> '../components/footer/index.hbs'}}
    {{> '../components/alertLinkServe/index.hbs'}}
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="../common/swiper/swiper.min.js"></script>

    <script src="../js/annulationTwoPage.js"></script>
</body>

</html>