<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="Author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>数媒网</title>
    {{> '../../../modules/public/head.hbs'}}
    {{!-- {{> '../../../modules/public/rem.hbs'}} --}}
    <link rel="stylesheet" href="../css/annulationPage.css">
</head>
<style>
    body{
        background-color: #fff;
    }
    .kong{
       height: 90px;
    }
</style>

<body>
    <script>
        window.serverData = {

        }
    </script>
    {{!-- <div id="root"> --}}
    {{!-- 头部导航 --}}
    {{> '../components/head/index.hbs'}}
    <div class="kong"></div>
    {{> '../components/annulation/zonghe/index.hbs'}}
    {{> '../components/annulation/zonghe_list/index.hbs'}}
    

    {{!-- footer --}}
    {{> '../components/footer/index.hbs'}}
    {{!-- </div> --}}
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="../js/annulationPage.js"></script>
</body>

</html>