<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="Author" content="">
  <meta name="keywords" content="代写软文,软文撰写,软文代写平台,软文写作案例">
  <meta name="description" content="数媒网专业软文撰写平台，为您提供优质软文撰写服务。">
  <title>软文代写_软文撰写_软文代写平台_软文写作案例-数媒网</title>
  {{> '../../../modules/public/head.hbs'}}
  {{!-- {{> '../../../modules/public/rem.hbs'}} --}}
  <link rel="stylesheet" href="../css/articlesPage.css">
</head>


<body>
  <script>
    window.serverData = {

    }
  </script>
  {{!-- <div id="root"> --}}
  {{!-- 头部导航 --}}
  {{> '../components/head/index.hbs'}}
  {{!-- banner --}}
  {{> '../components/articlesPage/banner/index.hbs'}}
  {{> '../components/articlesPage/my_advantages/index.hbs'}}
  {{> '../components/articlesPage/my_serve/index.hbs'}}
  {{> '../components/articlesPage/box_img/index.hbs'}}
  {{> '../components/articlesPage/choice_example/index.hbs'}}
  {{> '../components/articlesPage/box_img2/index.hbs'}}
  {{> '../components/articlesPage/box_img3/index.hbs'}}

  {{!-- footer --}}
  {{> '../components/footer/index.hbs'}}
  {{> '../components/alertLinkServe/index.hbs'}}
  {{!-- </div> --}}
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="../js/articlesPage.js"></script>
</body>

</html>