<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="Author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>数媒网</title>
    {{> '../../../modules/public/head.hbs'}}
    <link rel="stylesheet" href="../css/baikePage.css">
</head>


<body>
    {{!-- 头部导航 --}}
    {{> '../components/head/index.hbs'}}
    {{!-- banner --}}
    {{> '../components/baikePage/banner/index.hbs'}}
    {{> '../components/baikePage/my_advantages/index.hbs'}}
    {{!-- {{> '../components/baikePage/my_serve/index.hbs'}} --}}
    {{> '../components/baikePage/box_img/index.hbs'}}
    {{> '../components/baikePage/box_img2/index.hbs'}}
    {{> '../components/baikePage/box_img3/index.hbs'}}
    {{> '../components/baikePage/box_img4/index.hbs'}}
    {{> '../components/baikePage/choice_example/index.hbs'}}

    {{!-- footer --}}
    {{> '../components/footer/index.hbs'}}
    {{> '../components/alertLinkServe/index.hbs'}}
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="../js/baikePage.js"></script>
</body>

</html>