<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="Author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>数媒网</title>
    {{> '../../../modules/public/head.hbs'}}
    <link rel="stylesheet" href="../css/caseTwoPage.css">
</head>


<body>
    {{!-- 头部导航 --}}
    {{> '../components/head/index.hbs'}}
    {{!-- banner --}}
    {{> '../components/caseTwoPage/banner/index.hbs'}}
    {{> '../components/caseTwoPage/box_img/index.hbs'}}
    {{> '../components/caseTwoPage/box_img2/index.hbs'}}

    {{!-- footer --}}
    {{> '../components/footer/index.hbs'}}
    {{> '../components/alertLinkServe/index.hbs'}}
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="../js/caseTwoPage.js"></script>
</body>

</html>