<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="Author" content="">
  <meta name="keywords" content="内容营销,数媒网,新闻发布,百科创建">
  <meta name="description" content="数媒网,您的内容营销专家,提供新闻发布、百科词条创建修改、知乎话题炒作、小红书KOL发布、SEO优化等内容营销服务">
  <title>数媒网涵盖百科创建_SEO优化_新闻发稿_KOL发稿等业务，您的内容营销专家</title>
  {{> '../../../modules/public/head.hbs'}}
  <link rel="stylesheet" href="/shumei/common/swiper/swiper.min.css">
  <link rel="stylesheet" href="../css/index.css">
</head>


<body>
  {{!-- 头部导航 --}}
  {{> '../components/head/index.hbs'}}
  {{!-- banner --}}
  {{> '../components/index/banner/index.hbs'}}
  {{!-- one --}}
  {{> '../components/index/list_one/index.hbs'}}
  {{!-- my_serve --}}
  {{> '../components/index/my_serve/index.hbs'}}
  {{!-- myYoushi --}}
  {{> '../components/index/my_advantages/index.hbs'}}
  {{> '../components/index/hot_annulation/index.hbs'}}

  {{!-- all_choice --}}
  {{> '../components/index/all_choice/index.hbs'}}
  {{!-- choice_company --}}
  {{> '../components/index/choice_company/index.hbs'}}
  {{!-- choice_example --}}
  {{> '../components/index/choice_example/index.hbs'}}
  {{!-- footer --}}
  {{> '../components/footer/index.hbs'}}
  {{> '../components/alertLinkServe/index.hbs'}}
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="/shumei/common/swiper/swiper.min.js"></script>
  <script src="../js/index.js"></script>
</body>

</html>