<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="Author" content="">
  <meta name="keywords" content="网络口碑营销,epr口碑营销,口碑营销案例,口碑营销推广">
  <meta name="description" content="数媒网专业的网络口碑营销平台，有唯品会epr口碑营销、三公仔等口碑营销成功案例">
  <title>epr口碑营销_口碑营销案例_网络口碑营销_口碑营销推广-数媒网</title>
  {{> '../../../modules/public/head.hbs'}}
  <link rel="stylesheet" href="../common/swiper/swiper.min.css">

  <link rel="stylesheet" href="../css/mousePage.css">
  <script src="../common/swiper/swiper.min.js"></script>

</head>


<body>
  {{!-- 头部导航 --}}
  {{> '../components/head/index.hbs'}}
  {{!-- banner --}}
  {{> '../components/mousePage/banner/index.hbs'}}
  {{> '../components/mousePage/my_advantages/index.hbs'}}
  {{> '../components/mousePage/my_serve/index.hbs'}}
  {{> '../components/mousePage/box_img/index.hbs'}}
  {{> '../components/mousePage/choice_company/index.hbs'}}
  {{> '../components/mousePage/box_img2/index.hbs'}}
  {{> '../components/mousePage/box_img3/index.hbs'}}
  {{> '../components/mousePage/box_img4/index.hbs'}}
  {{> '../components/mousePage/choice_example/index.hbs'}}
  {{!-- footer --}}
  {{> '../components/footer/index.hbs'}}
  {{> '../components/alertLinkServe/index.hbs'}}
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="../common/swiper/swiper.min.js"></script>
  <script src="../js/mousePage.js"></script>
</body>

</html>