<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="Author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>数媒网</title>
    {{> '../../../modules/public/head.hbs'}}
    {{!-- {{> '../../../modules/public/rem.hbs'}} --}}
    <link rel="stylesheet" href="../css/newMediaPage.css">
</head>


<body>
    <script>
        window.serverData = {

        }
    </script>
    {{!-- <div id="root"> --}}
    {{!-- 头部导航 --}}
    {{> '../components/head/index.hbs'}}
    {{!-- banner --}}
    {{> '../components/newMediaPage/banner/index.hbs'}}
    {{> '../components/newMediaPage/my_advantages/index.hbs'}}
    {{> '../components/newMediaPage/my_serve/index.hbs'}}
    {{> '../components/newMediaPage/box_img/index.hbs'}}
    {{> '../components/newMediaPage/box_img2/index.hbs'}}
    {{> '../components/newMediaPage/box_img3/index.hbs'}}
    {{> '../components/newMediaPage/choice_example/index.hbs'}}

    {{!-- footer --}}
    {{> '../components/footer/index.hbs'}}
    {{!-- </div> --}}
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="../js/newMediaPage.js"></script>
</body>

</html>