<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="Author" content="">
  <meta name="keywords" content="新媒体运营,新媒体营销,新媒体营销策划,自媒体营销">
  <meta name="description" content="数媒网为您提供专业的新媒体营销、策划运营服务，让您的内容上头条">
  <title>新媒体运营_新媒体营销_新媒体营销策划_自媒体营销策划-数媒网</title>
  {{> '../../../modules/public/head.hbs'}}
  <link rel="stylesheet" href="../css/newMediaCasePage.css">
</head>

<body>
  {{!-- 头部导航 --}}
  {{> '../components/head/index.hbs'}}
  {{!-- banner --}}
  {{> '../components/newMediaCasePage/banner/index.hbs'}}
  {{> '../components/newMediaCasePage/box_img/index.hbs'}}

  {{!-- footer --}}
  {{> '../components/footer/index.hbs'}}
  {{> '../components/alertLinkServe/index.hbs'}}
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="../js/newMediaCasePage.js"></script>
</body>

</html>