<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="Author" content="">
  <meta name="keywords" content="新闻稿推广,新闻媒体发稿,企业新闻发稿,门户网站发稿">
  <meta name="description" content="数媒网新闻稿推广资源涵盖门户网站，海外媒体，新华网、光明网、人民网等国内媒体，一手网络媒体发稿资源，结合SEO技术为您提供低价高质量的新闻发稿服务">
  <title>新闻发稿平台_门户网站发稿_新闻源发稿_网络新闻发稿-数媒网</title>

  {{> '../../../modules/public/head.hbs'}}
  {{!-- {{> '../../../modules/public/rem.hbs'}} --}}
  <link rel="stylesheet" href="../common/swiper/swiper.min.css">

  <link rel="stylesheet" href="../css/newsPage.css">
</head>


<body>
  {{!-- 头部导航 --}}
  {{> '../components/head/index.hbs'}}
  {{!-- banner --}}
  {{> '../components/newsPage/banner/index.hbs'}}
  {{> '../components/newsPage/my_advantages/index.hbs'}}
  {{> '../components/newsPage/my_serve/index.hbs'}}
  {{> '../components/newsPage/box_img/index.hbs'}}
  {{> '../components/newsPage/choice_company/index.hbs'}}
  {{> '../components/newsPage/choice_example/index.hbs'}}
  {{> '../components/newsPage/my_taocan/index.hbs'}}
  {{> '../components/newsPage/box_img2/index.hbs'}}
  {{> '../components/newsPage/my_serve2/index.hbs'}}
  {{!-- footer --}}
  {{> '../components/footer/index.hbs'}}
  {{> '../components/alertLinkServe/index.hbs'}}
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="../common/swiper/swiper.min.js"></script>

  <script src="../js/newsPage.js"></script>
</body>

</html>