<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="Author" content="">
  <meta name="keywords" content="SEO,SEO优化,网站排名优化">
  <meta name="description" content="数媒网为你提供专业的SEO优化服务，帮助您官网排名搜索首页">
  <title>网站排名优化_SEO优化_搜索环境优化-数媒网</title>
  {{> '../../../modules/public/head.hbs'}}
  {{!-- {{> '../../../modules/public/rem.hbs'}} --}}
  <link rel="stylesheet" href="../css/searchPage.css">
</head>


<body>
  {{!-- 头部导航 --}}
  {{> '../components/head/index.hbs'}}
  {{!-- banner --}}
  {{> '../components/searchPage/banner/index.hbs'}}
  {{> '../components/searchPage/my_advantages/index.hbs'}}
  {{> '../components/searchPage/my_serve/index.hbs'}}
  {{> '../components/searchPage/box_img/index.hbs'}}
  {{> '../components/searchPage/box_img2/index.hbs'}}
  {{> '../components/searchPage/choice_example/index.hbs'}}

  {{!-- footer --}}
  {{> '../components/footer/index.hbs'}}
  {{> '../components/alertLinkServe/index.hbs'}}
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="../js/searchPage.js"></script>
</body>

</html>