<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="Author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>数媒网</title>
    {{> '../../../modules/public/head.hbs'}}
    <link rel="stylesheet" href="../css/xiaohongshuCasePage.css">
</head>


<body>
    {{!-- 头部导航 --}}
    {{> '../components/head/index.hbs'}}
    {{!-- banner --}}
    {{> '../components/xiaohongshuCasePage/banner/index.hbs'}}
    {{> '../components/xiaohongshuCasePage/box_img_notitle/index.hbs'}}
    {{> '../components/xiaohongshuCasePage/box_img_notitle2/index.hbs'}}
    {{> '../components/xiaohongshuCasePage/box_img_notitle3/index.hbs'}}
    {{> '../components/xiaohongshuCasePage/box_img/index.hbs'}}
    {{> '../components/xiaohongshuCasePage/box_img2/index.hbs'}}
    {{> '../components/xiaohongshuCasePage/box_img3/index.hbs'}}
    {{> '../components/xiaohongshuCasePage/box_img4/index.hbs'}}
    {{> '../components/xiaohongshuCasePage/box_img5/index.hbs'}}
    {{> '../components/xiaohongshuCasePage/box_img6/index.hbs'}}

    {{!-- footer --}}
    {{> '../components/footer/index.hbs'}}
    {{> '../components/alertLinkServe/index.hbs'}}
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="../js/xiaohongshuCasePage.js"></script>
</body>

</html>