<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="Author" content="">
  <meta name="keywords" content="小红书优化,小红书排名优化,小红书热搜,小红书KOL">
  <meta name="description" content="数媒网为您提供小红书KOL、素人账号产品评测和笔记发布，笔记搜索排名，收藏点赞优化等服务。">
  <title>小红书优化_小红书排名_小红书KOL资源_小红书搜索排名-数媒网</title>
  {{> '../../../modules/public/head.hbs'}}
  {{!-- {{> '../../../modules/public/rem.hbs'}} --}}
  <link rel="stylesheet" href="../css/xiaohongshuPage.css">
</head>


<body>
  {{!-- 头部导航 --}}
  {{> '../components/head/index.hbs'}}
  {{!-- banner --}}
  {{> '../components/xiaohongshuPage/banner/index.hbs'}}
  {{> '../components/xiaohongshuPage/my_advantages/index.hbs'}}
  {{> '../components/xiaohongshuPage/my_serve/index.hbs'}}
  {{> '../components/xiaohongshuPage/box_img/index.hbs'}}
  {{> '../components/xiaohongshuPage/box_img2/index.hbs'}}
  {{> '../components/xiaohongshuPage/box_img3/index.hbs'}}
  {{> '../components/xiaohongshuPage/box_img4/index.hbs'}}
  {{> '../components/xiaohongshuPage/choice_example/index.hbs'}}

  {{!-- footer --}}
  {{> '../components/footer/index.hbs'}}
  {{> '../components/alertLinkServe/index.hbs'}}
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="../js/xiaohongshuPage.js"></script>
</body>

</html>