<div class="my_serve">
    <div class="w serve-box">
        <div class="title">
            <h2>新闻营销涵盖服务</h2>
            <div>News marketing covering services</div>
            <div class="title2">帮你解决遇到的新闻营销问题</div>
        </div>
        <ul>
            <li>
                <div class="icon1 icon"></div>
                <div class="normal">保障发布新闻被收录 </div>
            </li>
            <li>
                <div class="icon2 icon"></div>

                <div class="normal">保障发布新闻能被搜索
                </div>

            </li>
            <li>
                <div class="icon3 icon"></div>

                <div class="normal">提供发布媒体效果报告</div>
            </li>
            <li>
                <div class="icon4 icon"></div>

                <div class="normal">一对一的顾问式服务 </div>
            </li>
        </ul>
    </div>
</div>