.choice-example {
    width: 100%;
    // height: 746px;
    background: url(../../../images/search_example_bgc.png) no-repeat center;

    // background-size: contain;
    .example-content-box {
        padding: 95px 30px 129px;
        width: 1200px;
        box-sizing: border-box;
    }

    .title {
        text-align: center;
        color: #fff;
        font-size: 20px;
        margin-bottom: 66px;

        h2 {
            font-size: 24px;
        }
    }

    .show {
        .content {
            margin-bottom: 34px;

            .show-content {
                display: none;

                .left {
                    width: 560px;
                    height: 300px;
                    background-color: #fff;
                    margin-right: 20px;
                }

                .right {
                    width: 560px;
                    height: 300px;
                    background-color: #fff;
                }
                .icon-left-1{
                    background: url(../../../images/search_example_left_1.png) no-repeat;
                    background-size: contain;
                }
                .icon-right-1{
                    background: url(../../../images/search_example_left_11.png) no-repeat;
                    background-size: contain;
                }
                .icon-left-2{
                    background: url(../../../images/search_example_left_2.png) no-repeat;
                    background-size: contain;
                }
                .icon-right-2{
                    background: url(../../../images/search_example_left_22.png) no-repeat;
                    background-size: contain;
                }
                .icon-left-3{
                    background: url(../../../images/search_example_left_3.png) no-repeat;
                    background-size: contain;
                }
                .icon-right-3{
                    background: url(../../../images/search_example_left_33.png) no-repeat;
                    background-size: contain;
                }
                .icon-left-4{
                    background: url(../../../images/search_example_left_4.png) no-repeat;
                    background-size: contain;
                }
                .icon-right-4{
                    background: url(../../../images/search_example_left_44.png) no-repeat;
                    background-size: contain;
                }
            }
        }

        .control-box {
            height: 60px;
            color: #fff;

            ul {
                height: 100%;
                display: flex;
                align-items: center;

                li {
                    height: 100%;
                    text-align: center;
                    line-height: 60px;
                    flex: 1;
                    background: rgba(0, 0, 0, 0.3);
                    cursor: pointer;

                    &.active {
                        background: rgba(94, 123, 255, .1);
                        border-bottom:1px solid #397EFF;
                    }
                }
            }
        }
    }
}