<div class="banner">
    <div class="banner-content-box w">
        <div class="content">
            <div class="blod">知乎营销</div>
            <div class="normal">打造知识营销热点，深度影响用户认知</div>
            <div class="contact"><a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">立即咨询  <i>></i></a></div>
        </div>
    </div>
</div>