.my_serve {
    background-color: #fff;

    .serve-box {
        width: 1200px;
        padding-top: 95px;

        .title {
            text-align: center;
            color: #555555;
            font-size: 20px;
            margin-bottom: 54px;

            h2 {
                font-size: 24px;
            }
        }

        ul {
            // padding-left: 64px;
            display: flex;
            // align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            li {
                width: 33%;
                a{                  
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    margin-bottom: 78px;
                }
               
                .icon {
                    margin-bottom: 20px;
                }

                .icon1 {
                    width: 93px;
                    height: 67px;

                    background: url(../../../images/index_serve_icon1.png) no-repeat;
                }

                .icon2 {
                    width: 111px;
                    height: 66px;

                    background: url(../../../images/index_serve_icon2.png) no-repeat;
                }

                .icon3 {
                    width: 68px;
                    height: 69px;

                    background: url(../../../images/index_serve_icon3.png) no-repeat;
                }

                .icon4 {
                    width: 92px;
                    height: 65px;

                    background: url(../../../images/index_serve_icon4.png) no-repeat;
                }

                .icon5 {
                    width: 86px;
                    height: 79px;

                    background: url(../../../images/index_serve_icon5.png) no-repeat;
                }

                .icon6 {
                    width: 72px;
                    height: 78px;

                    background: url(../../../images/index_serve_icon6.png) no-repeat;
                }

                .icon7 {
                    width: 79px;
                    height: 79px;

                    background: url(../../../images/index_serve_icon7.png) no-repeat;
                }


                .bold {
                    font-size: 20px;
                    color: #555555;
                    font-weight: 600;
                }

                .normal {
                    font-size: 14px;
                    color: #969696;
                }

            }
        }
    }
}