<div class="my_serve">
    <div class="w serve-box">
        <div class="title">
            <h2>我们的服务</h2>
            <div>Our service</div>
        </div>
        <ul>
            <li>
                <a href="/html/searchPage.html">
                    <div class="icon1 icon"></div>
                    <div class="bold">搜索优化</div>
                    <div class="normal">10年官网SEO和搜索口碑SMO服务经验， </div>
                    <div class="normal">保证品牌搜索传播效果</div>
                </a>

            </li>
            <li>
                <a href="/html/mousePage.html">
                    <div class="icon2 icon"></div>
                    <div class="bold">口碑营销</div>
                    <div class="normal">博客、视频、论坛、百科、知道问答、文库经验，
                    </div>
                    <div class="normal">全口碑媒体覆盖，提升品牌美誉度</div>
                </a>
            </li>
            <li>
                <a href="/html/articlesPage.html">
                    <div class="icon3 icon"></div>
                    <div class="bold">软文撰写</div>
                    <div class="normal">时尚美妆、金融理财等领域垂直媒体编辑团队
                    </div>
                    <div class="normal">撰写高质量新闻和种草稿件</div>
                </a>
            </li>
            <li>
                <a href="/html/newsPage.html">
                    <div class="icon4 icon"></div>
                    <div class="bold">新闻营销</div>
                    <div class="normal">2000+国内媒体合作，1000+新闻源站点
                    </div>
                    <div class="normal">促进搜索引擎抓取收录，扩大新闻传播 </div>
                </a>
            </li>
            <li>
                <a href="/html/zhihuPage.html">
                    <div class="icon5 icon"></div>
                    <div class="bold">知乎营销</div>
                    <div class="normal">2000+知乎账号，1000+知乎大号
                    </div>
                    <div class="normal">保障问答热度，抢占热榜排名</div>
                </a>
            </li>
            <li>
                <a href="/html/xiaohongshuPage.html">
                    <div class="icon6 icon"></div>
                    <div class="bold">小红书营销</div>
                    <div class="normal">2000+小红书账号，1000+小红书大号
                    </div>
                    <div class="normal">保障问答热度，抢占热榜排名</div>
                </a>
            </li>
            <li>
                <a href="/html/baikePage.html">
                    <div class="icon7 icon"></div>
                    <div class="bold">百科营销</div>
                    <div class="normal">5000+百科账号，百科蝌蚪团核心成员

                    </div>
                    <div class="normal">精通 百度、搜狗、互动百科创建规则</div>
                </a>
            </li>
        </ul>
    </div>
</div>