.home-hd {
    width: 100%;
    height: 5.5rem;
    position: relative;
    overflow: hidden;

    .home-logo {
        width: 2rem;
        position: absolute;
        left: .36rem;
        top: .4rem;
    }

    .home-bage {
        width: .44rem;
        position: absolute;
        right: .3rem;
        top: .4rem;
    }

    .banner {
        display: block;
        width: 100%;
        margin-top: 1.2rem;
    }

    .home-tip {
        position: absolute;
        top: 1.2rem;
        background: rgba(0, 0, 0, .55);
        height: .8rem;
        width: 2.86rem;
        border-radius: 0 .4rem .4rem 0;
        font-size: .24rem;
        color: #f2f2f2;
        padding: .16rem 0 0 .24rem;
        animation: slide 5s ease-in both infinite;

        span {
            color: #fb5407;
        }

        p {
            font-size: .18rem;
        }
    }
}

@keyframes slide {
    0% {
        -webkit-transform: translate(-4rem);
        -o-transform: translate(-4rem);
        transform: translate(-4rem)
    }

    20% {
        -webkit-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0)
    }

    80% {
        -webkit-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0)
    }

    to {
        -webkit-transform: translate(-4rem);
        -o-transform: translate(-4rem);
        transform: translate(-4rem)
    }
}