.box-img2 {
    // padding-bottom: 150px;
    background-color: #FAFBFE;
    // height: 531px;
    padding-bottom: 80px;
    .serve-box {
        width: 1200px;
        padding-top: 92px;

        .title {
            text-align: center;
            // color: #fff;
            font-size: 20px;
            margin-bottom: 42px;

            h2 {
                font-size: 24px;
            }

            .title2 {
                padding-top: 60px;
            }
        }
    }
    .img-box{
        width: 1140px;
        height: 568px;
        background: url(../../../images/baike_img2.png) no-repeat;
        background-size: contain;
    }
}