<div class="box-img2">
    <div class="w serve-box">
        <div class="title">
            <h2>百科营销涵盖所有百科平台</h2>
            <div>Encyclopedia marketing covers all encyclopedia platforms</div>
        </div>
        <div class="img-box w"></div>
    </div>
</div>