<div class="banner">
    <div class="banner-content-box w">
        <div class="content">
            <div class="blod">内容营销案例</div>
            <div class="normal">让您的内容得到更有效的传播</div>
        </div>
    </div>
</div>