<div class="choice-example">
    <div class="example-content-box w">
        <div class="title">
            <h2>口碑营销案例</h2>
            <div>Some case shows</div>
        </div>
        <div class="show">
            <div class="content J-show-content">
                   <ul>
                    <li class="show-content clearfix" >
                        <div class="left fl"></div>
                        <div class="right fl"> </div>
                    </li>
                    <li class="show-content clearfix" >
                        <div class="left fl"></div>
                        <div class="right fl"> </div>
                    </li>
                    <li class="show-content clearfix" >
                        <div class="left fl"></div>
                        <div class="right fl"> </div>
                    </li>
                    <li class="show-content clearfix" >
                        <div class="left fl"></div>
                        <div class="right fl"> </div>
                    </li>
                  
                </ul>
            </div>
            <div class="control-box J-control-box">
                <ul>
                    <li data-index="0">4399小游戏</li>
                    <li data-index="1">世界之窗</li>
                    <li data-index="2" class="active">韩国原辰整容医院</li>
                    <li data-index="3">长影世纪城</li>
                </ul>
            </div>
        </div>

    </div>
</div>