/**
 * Created by Robin Hsu on 16/6/27.
 * 一些的东西，以前的模版也在这里面，不过还是抽出来吧。。。
 * filePath sass/common.scss
 * Last edited by Robin Hsu on 16/10/20.
 */
@import "template";

body {
    font-family: -apple-system, Helvetica, 'Hiragino Sans GB W3', arial, sans-serif;
    min-width: 320px;
    margin: 0 auto;
    color: $defaultFontColor;
    background-color: $defaultBackgroundColor;
    font-size: $defaultFontSize;
}


.__web-inspector-hide-shortcut__,
.__web-inspector-hide-shortcut__ *,
.__web-inspector-hidebefore-shortcut__::before,
.__web-inspector-hideafter-shortcut__::after {
    visibility: hidden !important;
}
.clearfix:after,
.clearfix:before {
    clear: both;
    display: block;
    content: "";
    height: 0;
    left: 0;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}
