<div class="banner">
    <div class="banner-content-box w">
        <div class="content">
            <div class="blod">小红书营销</div>
            <div class="normal">深挖小红书推荐机制，笔记轻松上热门</div>
            <div class="contact">立即咨询 <i>></i></div>
        </div>
    </div>
</div>