<div class="banner">
    <div class="banner-content-box w">
        <div class="content">
            <div class="blod">口碑营销</div>
            <div class="normal">决策环节影响客户，扩大曝光，引导销售转化</div>
            <div class="contact">立即咨询 <i>></i></div>
        </div>
    </div>
</div>