<div class="zonghe w">
    <h2>综合套餐30家媒体（仅需<span>1280</span>元，包含门户、财经、IT等热门媒体）</h2>
    <div class="content">
        <ul class="clearfix">
            <li>
                <span></span>
                新浪网
            </li>
            <li>
                <span></span>
                中国网
            </li>
            <li>
                <span></span>
                今日头条
            </li>
            <li>
                <span></span>
                新浪网
            </li>
            <li>
                <span></span>
                中国网
            </li>
            <li>
                <span></span>
                今日头条
            </li>
            <li>
                <span></span>
                新浪网
            </li>
            <li>
                <span></span>
                中国网
            </li>
            <li>
                <span></span>
                今日头条
            </li>
        </ul>
    </div>
    <div class="link-me">
        <a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">咨询更多优惠</a>
    </div>
</div>
<div class="zonghe w">
    <h2>综合套餐50家媒体（仅需<span>1880</span>元，包含门户、财经、IT等热门媒体）</h2>
    <div class="content">
        <ul class="clearfix">
            <li>
                <span></span>
                新浪网
            </li>
            <li>
                <span></span>
                中国网
            </li>
            <li>
                <span></span>
                今日头条
            </li>
            <li>
                <span></span>
                新浪网
            </li>
            <li>
                <span></span>
                中国网
            </li>
            <li>
                <span></span>
                今日头条
            </li>
            <li>
                <span></span>
                新浪网
            </li>
            <li>
                <span></span>
                中国网
            </li>
            <li>
                <span></span>
                今日头条
            </li>
        </ul>
    </div>
    <div class="link-me">
        <a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">咨询更多优惠</a>
    </div>
</div>
<div class="zonghe w">
    <h2>综合套餐100家媒体（仅需<span>3680</span>元，包含门户、财经、IT等热门媒体）</h2>
    <div class="content">
        <ul class="clearfix">
            <li>
                <span></span>
                新浪网
            </li>
            <li>
                <span></span>
                中国网
            </li>
            <li>
                <span></span>
                今日头条
            </li>
            <li>
                <span></span>
                新浪网
            </li>
            <li>
                <span></span>
                中国网
            </li>
            <li>
                <span></span>
                今日头条
            </li>
            <li>
                <span></span>
                新浪网
            </li>
            <li>
                <span></span>
                中国网
            </li>
            <li>
                <span></span>
                今日头条
            </li>
        </ul>
    </div>
    <div class="link-me">
        <a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">咨询更多优惠</a>
    </div>
</div>