<div class="choice-example">
    <div class="example-content-box w">
        <div class="title">
            <h2>成功案例</h2>
            <div>Successful case</div>
        </div>
        <div class="show">
            <div class="control-box J-control-box">
                <ul>
                    <li data-index="0" class="active">普通编辑</li>
                    <li data-index="1">专业编辑</li>
                    <li data-index="2">资深编辑</li>
                </ul>
            </div>
            <div class="content J-show-content">

                <div class="show-content clearfix putong">
                    <div class="item clearfix">
                        <a href="">
                            <div class="left-content fl">
                                <p class="text-blue">23</p>
                                <p class="text-time">2018-08</p>
                            </div>
                            <div class="right-content fl">
                                <p class="text-head">冬天食煎膏（膏方）-轻食疗食品是年轻人最</p>
                                <p class="text-content">按照中国人的习惯，冬天进补是最好的时节。中医认为，在冬天进补是
                                    身体最容易吸收的时候，寒冷的天气，会让身体需要更多的能量，来适应冬天的气节变化。</p>
                            </div>
                        </a>
                    </div>
                    <div class="item clearfix">
                        <a href="">
                            <div class="left-content fl">
                                <p class="text-blue">23</p>
                                <p class="text-time">2018-08</p>
                            </div>
                            <div class="right-content fl">
                                <p class="text-head">冬天食煎膏（膏方）-轻食疗食品是年轻人最</p>
                                <p class="text-content">按照中国人的习惯，冬天进补是最好的时节。中医认为，在冬天进补是
                                    身体最容易吸收的时候，寒冷的天气，会让身体需要更多的能量，来适应冬天的气节变化。</p>
                            </div>
                        </a>
                    </div>
                    <div class="item clearfix">
                        <a href="">
                            <div class="left-content fl">
                                <p class="text-blue">23</p>
                                <p class="text-time">2018-08</p>
                            </div>
                            <div class="right-content fl">
                                <p class="text-head">冬天食煎膏（膏方）-轻食疗食品是年轻人最</p>
                                <p class="text-content">按照中国人的习惯，冬天进补是最好的时节。中医认为，在冬天进补是
                                    身体最容易吸收的时候，寒冷的天气，会让身体需要更多的能量，来适应冬天的气节变化。</p>
                            </div>
                        </a>
                    </div>
                    <div class="item clearfix">
                        <a href="">
                            <div class="left-content fl">
                                <p class="text-blue">23</p>
                                <p class="text-time">2018-08</p>
                            </div>
                            <div class="right-content fl">
                                <p class="text-head">冬天食煎膏（膏方）-轻食疗食品是年轻人最</p>
                                <p class="text-content">按照中国人的习惯，冬天进补是最好的时节。中医认为，在冬天进补是
                                    身体最容易吸收的时候，寒冷的天气，会让身体需要更多的能量，来适应冬天的气节变化。</p>
                            </div>
                        </a>
                    </div>
                    <div class="item clearfix">
                        <a href="">
                            <div class="left-content fl">
                                <p class="text-blue">23</p>
                                <p class="text-time">2018-08</p>
                            </div>
                            <div class="right-content fl">
                                <p class="text-head">冬天食煎膏（膏方）-轻食疗食品是年轻人最</p>
                                <p class="text-content">按照中国人的习惯，冬天进补是最好的时节。中医认为，在冬天进补是
                                    身体最容易吸收的时候，寒冷的天气，会让身体需要更多的能量，来适应冬天的气节变化。</p>
                            </div>
                        </a>
                    </div>
                    <div class="item clearfix">
                        <a href="">
                            <div class="left-content fl">
                                <p class="text-blue">23</p>
                                <p class="text-time">2018-08</p>
                            </div>
                            <div class="right-content fl">
                                <p class="text-head">冬天食煎膏（膏方）-轻食疗食品是年轻人最</p>
                                <p class="text-content">按照中国人的习惯，冬天进补是最好的时节。中医认为，在冬天进补是
                                    身体最容易吸收的时候，寒冷的天气，会让身体需要更多的能量，来适应冬天的气节变化。</p>
                            </div>
                        </a>
                    </div>

                </div>
                <div class="show-content zhuangye">
                    zhuangye
                </div>
                <div class="show-content gaoji">
                    gaoji
                </div>

            </div>

        </div>

    </div>
</div>