<div class="choice-example">
    <div class="example-content-box w">
        <div class="title">
            <h2>成功案例</h2>
            <div>Successful case</div>
        </div>
        <div class="show">
            <div class="control-box J-control-box">
                <ul>
                    <li data-index="0" class="active">普通编辑</li>
                    <li data-index="1">专业编辑</li>
                    <li data-index="2">资深编辑</li>
                </ul>
            </div>
            <div class="content J-show-content">

                <div class="show-content clearfix putong">
                    <div class="item clearfix">
                          <a href="//baijiahao.baidu.com/s?id=1629325033524294517" target="_blank">
                            <div class="left-content fl">
                                <p class="text-blue">29</p>
                                <p class="text-time">2019-03</p>
                            </div>
                            <div class="right-content fl">
                                <p class="text-head">唯品会成全球零售力量前百强，收入平均增长率成绩喜人</p>
                                <p class="text-content">
                                    近日，德勤全球最新发布的《2019全球零售力量》报告，报告显示，2017年财年全球250强零售商共计创收4.53万亿美元，复合增长率为5.7%。其中，中国有14家零售企业上榜，唯品会位列前百名。
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="item clearfix">
                            <a target="_blank" href="//baijiahao.baidu.com/s?id=1629324559843066942">
                            <div class="left-content fl">
                                <p class="text-blue">29</p>
                                <p class="text-time">2019-03</p>
                            </div>
                            <div class="right-content fl">
                                <p class="text-head">唯品会：观中产女性画像：“悦己”成消费重点</p>
                                <p class="text-content">
                                    在这消费升级的时代,想要获取市场,离不开大数据的支撑。通过大数据,可以更好地分析消费者特征,为目标客户画像,更精准地把握消费需求,提供定制化服务,提升用户粘度及忠诚度。
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="item clearfix">
                          <a target="_blank" href="//software.it168.com/a2019/0315/5172/000005172479.shtml">
                            <div class="left-content fl">
                                <p class="text-blue">15</p>
                                <p class="text-time">2019-03</p>
                            </div>
                            <div class="right-content fl">
                                <p class="text-head">过期药不知怎么处理？加入过期药品回收活动</p>
                                <p class="text-content">广药集团率先做出了行动，连续16年开展了过期药回收活动，让更多的居民加入到这场守卫健康生态环境的保卫战中。</p>
                            </div>
                        </a>
                    </div>


                    <div class="item clearfix">
                          <a target="_blank" href="//tech.china.com/article/20181012/kejiyuan0718200565.html">
                            <div class="left-content fl">
                                <p class="text-blue">12</p>
                                <p class="text-time">2019-10</p>
                            </div>
                            <div class="right-content fl">
                                <p class="text-head">广药集团家庭过期药品回收，足不出户轻松处理</p>
                                <p class="text-content">
                                    过期药品让我国每户家庭都十分头疼。据调查显示，我国约有五分之四的家庭都备有应急药箱，且其中大部分并没有定期清理过期药品的习惯，而九成的被调查者更直言自己有将过期药品随意丢弃的经历。
                                </p>
                            </div>
                        </a>
                    </div>


                    <div class="item clearfix">
                          <a target="_blank" href="//jingyan.baidu.com/article/39810a2399a8f7b636fda69e.html">
                            <div class="left-content fl">
                                <p class="text-blue">21</p>
                                <p class="text-time">2018-02</p>
                            </div>
                            <div class="right-content fl">
                                <p class="text-head">衍生七星茶和三公仔功效有什么不同</p>
                                <p class="text-content">夏天即将来临，许多家庭都会为宝宝准备降火的七星茶。目前，市场上比较热销的七星茶品牌有衍生七星茶和三公仔，它们的功效有什么不同？
                                </p>
                            </div>
                        </a>

                    </div>

                    <div class="item clearfix">
                          <a target="_blank" href="//jingyan.baidu.com/article/ca41422f30d8551eae99ed2c.html">
                            <div class="left-content fl">
                                <p class="text-blue">07</p>
                                <p class="text-time">2018-01</p>
                            </div>
                            <div class="right-content fl">
                                <p class="text-head">宝宝上火，喝正宗的三公仔小儿七星茶</p>
                                <p class="text-content">炎炎夏日，由于难以适应炎热的天气，容易导致宝宝上火。许多家长会在家中给孩子备上七星茶。</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="show-content zhuangye">
                    <div class="item clearfix">
                          <a target="_blank" href="//www.toutiao.com/i6565727925532885518/">
                            <div class="left-content fl">
                                <p class="text-blue">11</p>
                                <p class="text-time">2018-06</p>
                            </div>
                            <div class="right-content fl">
                                <p class="text-head">真丝好穿不好洗？那是因为你没来京东get这些神器！</p>
                                <p class="text-content">
                                    这个时候，你一定得pick真丝噢。真丝是和皮肤最“像”的面料，亲肤抗敏，可以减少皮肤因摩擦引起的干纹，更重要的是，即使是大夏天穿着也很凉爽！
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="item clearfix">
                          <a target="_blank" href="//www.toutiao.com/i6537592057639207432/">
                            <div class="left-content fl">
                                <p class="text-blue">27</p>
                                <p class="text-time">2018-03</p>
                            </div>
                            <div class="right-content fl">
                                <p class="text-head">帆布鞋女孩不能放弃自己，有这些包包和配饰也能撩到陈伟霆!</p>
                                <p class="text-content">
                                    超级带感的《南方有乔木》终于开播啦！这部都市剧已经让人期待好久了，主演卡司颜值相当能打，流量小生陈伟霆、肌肉型男李现自带话题，更有演技担当金马影后秦海璐坐镇，可谓看点满分呢。
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="item clearfix">
                          <a target="_blank" href="//www.toutiao.com/i6620357737442198023/">
                            <div class="left-content fl">
                                <p class="text-blue">05</p>
                                <p class="text-time">2018-11</p>
                            </div>
                            <div class="right-content fl">
                                <p class="text-head">荣耀8X幻影蓝正式“定档” 双十一可以入手了</p>
                                <p class="text-content">
                                    10月31日，备受期待的Magic 2发布会在北京正式发布，这款以“滑出魔法世界”为产品口号的手机可谓赚足了用户眼球。
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="item clearfix">
                          <a target="_blank" href="//www.toutiao.com/i6590603907020358151">
                            <div class="left-content fl">
                                <p class="text-blue">17</p>
                                <p class="text-time">2018-08</p>
                            </div>
                            <div class="right-content fl">
                                <p class="text-head">随便一件衣服都有讲究最时髦特工天团就在《碟中谍6：全面瓦解》</p>
                                <p class="text-content">
                                    首部《碟中谍》诞生于1996年，伊森一出现就迷倒了无数女粉丝，这个英俊而且充满了正能量的特工不仅能解救危难，还能动不动西装革履耍耍酷！
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="item clearfix">
                          <a target="_blank" href="//fashion.ifeng.com/a/20180703/40343885_0.shtml">
                            <div class="left-content fl">
                                <p class="text-blue">06</p>
                                <p class="text-time">2018-07</p>
                            </div>
                            <div class="right-content fl">
                                <p class="text-head">超全的简单实用的服装搭配口诀，让穿搭不再成为困难！</p>
                                <p class="text-content">
                                    炎炎夏日，相信仙女们的衣橱都塞的满满的吧！
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="item clearfix">
                          <a target="_blank" href="https://www.sohu.com/a/222318975_180001">
                            <div class="left-content fl">
                                <p class="text-blue">12</p>
                                <p class="text-time">2018-02</p>
                            </div>
                            <div class="right-content fl">
                                <p class="text-head">这些化妆品千万别买！化妆新手必备清单已经帮你准备好了！</p>
                                <p class="text-content">
                                    新手必备化妆工具清单，今天终于写出来了哈哈。
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="show-content gaoji">
                    <div class="item clearfix">
                          <a target="_blank" href="//baijiahao.baidu.com/s?id=1622634486686447718">
                            <div class="left-content fl">
                                <p class="text-blue">14</p>
                                <p class="text-time">2019-01</p>
                            </div>
                            <div class="right-content fl">
                                <p class="text-head">2018年唯品会活跃用户数量、复购用户数量及人均消费额统计「图」</p>
                                <p class="text-content">
                                    2008年，唯品会开辟了中国特卖创新电商模式，保持高速发展态势，并与2012年3月23日成功在美国纽约证券交易所上市，经历近十年的快速发展，唯品会凭借其独特的跨境名品、买手精选、深度折扣模式，成为中国B2C网络购物市场领先者之一。
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="item clearfix">
                          <a target="_blank" href="//baijiahao.baidu.com/s?id=1622634486686447718">
                            <div class="left-content fl">
                                <p class="text-blue">17</p>
                                <p class="text-time">2018-05</p>
                            </div>
                            <div class="right-content fl">
                                <p class="text-head">严格到变态”打造规范供应链 唯品会18个国际仓引领跨境电商</p>
                                <p class="text-content">
                                    5月11日，唯品会时尚美丽之旅活动在韩国举办。这是在跨境电商领域低调布局四年后，唯品会首次开放韩国海外仓参观并全景化展示唯品国际平台实力。
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="item clearfix">
                          <a target="_blank" href="//www.zhihu.com/question/22825765">
                            <div class="left-content fl">
                                <p class="text-blue">15</p>
                                <p class="text-time">2018-03</p>
                            </div>
                            <div class="right-content fl">
                                <p class="text-head">不会搭配服饰的女生如何开始系统地学习服装搭配？</p>
                                <p class="text-content">
                                    你看来看去发现自己无法完全符合任何一种体型的所有标准！因为每个人的体型千差万别啊！所以！以核心标准那一条为准！！！
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="item clearfix">
                          <a target="_blank" href="//www.zhihu.com/question/40830550/answer/88443076">
                            <div class="left-content fl">
                                <p class="text-blue">15</p>
                                <p class="text-time">2018-06</p>
                            </div>
                            <div class="right-content fl">
                                <p class="text-head">偏油性皮肤该如何护肤？</p>
                                <p class="text-content">
                                    如果你的皮肤常年都是油脂分泌比较旺盛的状态，说明你的皮脂腺是在很活跃的状态，水油不平衡。所以其实偏油性皮肤最重要的是要做到维持皮肤的水油平衡。
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="item clearfix">
                          <a target="_blank" href="//baijiahao.baidu.com/s?id=1629415385351244271">
                            <div class="left-content fl">
                                <p class="text-blue">30</p>
                                <p class="text-time">2019-03</p>
                            </div>
                            <div class="right-content fl">
                                <p class="text-head">华为Mate30系列已进入测试阶段，支持5G和5摄，设计风格变化大</p>
                                <p class="text-content">
                                    华为手机作为中国巨头手机品牌之一，最近其一系列新机的发布令花粉激动不已，尤其是Mate 30和Mate 30 Pro。
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="item clearfix">
                          <a target="_blank" href="//baijiahao.baidu.com/s?id=1629328830558360077">
                            <div class="left-content fl">
                                <p class="text-blue">29</p>
                                <p class="text-time">2019-03</p>
                            </div>
                            <div class="right-content fl">
                                <p class="text-head">联通eSIM独立号码业务全国开通 与京东独家战略合作</p>
                                <p class="text-content">
                                    中国联通宣布将与京东达成独家战略合作关系，就联通eSIM独立号码业务全国开通及eSIM消费电子产品的推广展开合作。
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>