<div class="choice-example">
    <div class="example-content-box w">
        <div class="title">
            <h2>成功案例</h2>
            <div>Successful case</div>
        </div>
        <div class="show">
            <div class="control-box J-control-box">
                <ul>
                    <li data-index="0" class="active">普通编辑</li>
                    <li data-index="1">专业编辑</li>
                    <li data-index="2" >资深编辑</li>
                </ul>
            </div>
            <div class="content J-show-content">
                <ul>
                    <li class="show-content putong">
                       putong
                    </li>
                    <li class="show-content zhuangye">
                       zhuangye
                    </li>
                    <li class="show-content gaoji">
                     gaoji
                    </li>
                </ul>
            </div>

        </div>

    </div>
</div>