.box-img1 {
    background: #fff;


    .serve-box {
        width: 1134px;
        padding-top: 90px;
        padding-bottom: 98px;

        .title {
            color: #333;
            font-size: 20px;
            margin-bottom: 40px;
            border-left: 2px solid #3790FF;
            line-height: 1;
            padding-left: 10px;
            margin-left: 10px;

            h2 {
                font-size: 24px;
                font-weight: 600;
            }
        }
    }

    .img-box1 {
        width: 1170px;
        height: 350px;
        background: url(../../../images/mouseCase_img1.png) no-repeat;
    }

}