<div class="all-choice">
    <div class="w all-choice-box">
        <div class="title">
            <h2>大家的认可与选择</h2>
            <div>Everyone's recognition and choice</div>
        </div>
        <ul>
            <li>
                <div class="bold">100万+</div>
                <div class="normal">拥有行业90%知名自媒体红人和大V
                </div>
            </li>
            <li>
                <div class="bold">30万+</div>
                <div class="normal">品牌客户的选择和服务经验
                </div>
            </li>
            <li>
                <div class="bold">100亿+</div>
                <div class="normal">累计曝光超过100亿
                </div>
            </li>

        </ul>
    </div>
</div>