<div class="box-img1">
    <div class="w serve-box">
        <div class="title">
            <h2>企业简介</h2>
            <div>Company profile</div>
        </div>
        <div class="img-box w">
            <div class="item top-1">
                <p class="title-2">5年经验积累</p>
                <p class="content">团队来至上市公司，服务王老吉、广发银行、南航、
                    广之旅、Olay等知名品牌的搜索营销、内容营销业务，沉淀5年营销服务经验，
                    保障服务效果</p>
            </div>
            <div class="item top-2">
                <p class="title-2">公司成立</p>
                <p class="content">2017年公司成立，跨入内容营销领域，
                    先后开展SEO、SEM、新媒体营销、知识营销等业务</p>
            </div>
            <div class="item top-3">
                <p class="title-2">媒体资源积累</p>
                <p class="content">积累沉淀百度产品、新媒体、新闻平台、微信公众号、
                    微博、知乎等媒体大号资源5000+，积累超过10,000+真人账号，
                    保障营销落地</p>
            </div>
            <div class="item top-4">
                <p class="title-2">中小企业<br />内容营销服务商</p>
                <p class="content">2019年1月创办数媒网，为中小企业提供
                    一站式网络内容营销解决方案，让你的内容获得更有效的传播</p>
            </div>
        </div>
    </div>
</div>