<div class="banner">
    <div class="banner-content-box w">
        <div class="content">
            <div class="blod">搜索优化</div>
            <div class="normal">让您的官网和品牌稿件快速获得首页排名</div>
            <div class="contact">立即咨询 <i>></i></div>
        </div>
    </div>
</div>