<div class="my_serve">
    <div class="w serve-box">
        <div class="title">
            <h2>专业的口碑营销服务</h2>
            <div>Professional word of mouth marketing service</div>
            <div class="title2">帮助您解决遇到的口碑营销问题</div>
        </div>
        <ul>
            <li>
                <div class="icon1 icon"></div>
                <div class="normal">20000+真人账号<br />
                    保障发布口碑的传播效果 </div>
            </li>
            <li>
                <div class="icon2 icon"></div>

                <div class="normal">1000+媒体编辑<br />
                    专业的稿件撰写
                </div>

            </li>
            <li>
                <div class="icon3 icon"></div>

                <div class="normal">专业策划服务人员<br />
                    提供口碑营销效果报告</div>
            </li>
            <li>
                <div class="icon4 icon"></div>

                <div class="normal">5年营销技术专家<br />
                    一对一的专业顾问服务 </div>
            </li>
        </ul>
    </div>
</div>