.box-text {
    background: #fff;
    padding-bottom: 95px;
    .serve-box {
        width: 1134px;
        padding-top: 95px;

        .title {
            color: #333;
            font-size: 20px;
            margin-bottom: 42px;
            border-left: 2px solid #3790FF;
            line-height: 1;
            padding-left: 10px;

            h2 {
                font-size: 24px;
                font-weight: 600;
            }
        }
    }

    .text {
        width: 40px;
        box-sizing: border-box;
        padding: 20px 14px;
        background: #595959;
        color: #fff;
        border-radius: 6px;
        margin-top: 60px;
    }

    .text-box {
        width: 100%;
        background: #F9F9F9;
        box-sizing: border-box;
        padding: 30px 42px 30px 30px;

        &.box1 {
            margin-bottom: 30px;
        }

        .head-text {
            font-size: 18px;
            color: #555555;
            font-weight: 600;
            margin-bottom: 25px;
        }

        .content-text {
            color: #555555;
        }
    }
}