<div class="box-text">
  <div class="w serve-box">
    <div class="title">
      <h2>官网SEO优化案例</h2>
    </div>
    <div class="text-box box1">
      <div class="head-text">客户介绍</div>
      <div class="content-text">广州广之旅国际旅行社股份有限公司成立于1980年12月5日（前身广州市旅游公司），是华南地区规模至大，实力至强，美誉度至高的旅行社，国内唯一获得全国旅游业质量
        管理最高荣誉“中国用户满意鼎”的综合性强社。全国旅行社中唯一被国家信息产业部指定的“国家电子商务试点单位”，打造出全国地方旅行社第一个"中国驰名商标",在全
        国旅行社中唯一被世界生产力科学联盟（WCPS）授予“2006世界市场中国行业十大年度品牌”。</div>
    </div>
    <div class="text-box">
      <div class="head-text">项目背景</div>
      <div class="content-text">广之旅官网新建上线，SEO基础薄弱，旅行路线关键词前五页均无排名，品牌词排名不在首页。</div>
    </div>
  </div>
</div>