<div class="box-img1">
    <div class="w serve-box">
        <div class="title">
            <h2>百科营销涵盖所有百科平台</h2>
            <div>Advantages of Encycl</div>
        </div>
        <div class="img-box1 w"></div>
    </div>
</div>