<div class="box-img1">
    <div class="w serve-box">
        <div class="title">
            <h2>海量真人资源优势，稳定话题排名</h2>
            <div>TOP3</div>
        </div>
        <div class="img-box1 w"></div>
          <div class="title">
            <h2>知乎热榜话题打造</h2>
        </div>
        <div class="img-box2 w"></div>
    </div>
</div>