<div class="zonghe w">
    <h2>综合套餐30家媒体（仅需<span>1288</span>元，包含门户、财经、IT等热门媒体）</h2>
    <div class="content">
        <ul class="clearfix">
            <li>
                <span></span>
                新浪网
            </li>
            <li>
                <span></span>
                中国网
            </li>
            <li>
                <span></span>
                今日头条
            </li>
            <li>
                <span></span>
                新华报业网
            </li>
            <li>
                <span></span>
                腾讯网
            </li>
            <li>
                <span></span>
                企业家在线
            </li>
            <li>
                <span></span>
                东方头条
            </li>
            <li>
                <span></span>
                浙江热线
            </li>
            <li>
                <span></span>
                市场导报
            </li>
             <li>
                <span></span>
                中国发展网
            </li>
            <li>
                <span></span>
                中国工会网
            </li>
            <li>
                <span></span>
                中国新闻网
            </li>
             <li>
                <span></span>
                凤凰网
            </li>
            <li>
                <span></span>
                搜狐网
            </li>
            <li>
                <span></span>
                北京在线
            </li>
            <li>
                <span></span>
                深圳之窗
            </li>
            <li>
                <span></span>
                中国信息网
            </li>
            <li>
                <span></span>
                商都网
            </li>
            <li>
                <span></span>
                上海热线
            </li>
            <li>
                <span></span>
                消费日报
            </li>
              <li>
                <span></span>
                企业时报网
            </li>
             <li>
                <span></span>
                中国资讯网
            </li>
            <li>
                <span></span>
                广州在线
            </li>
            <li>
                <span></span>
                广东之窗
            </li>
            <li>
                <span></span>
                中国经营导报
            </li>
            <li>
                <span></span>
                慧聪网
            </li>
            <li>
                <span></span>
                东方新闻网
            </li>
            <li>
                <span></span>
                中华网
            </li>
            <li>
                <span></span>
                中原网
            </li>
            <li>
                <span></span>
                大众网
            </li>
        </ul>
    </div>
    <div class="link-me">
        <a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">咨询更多优惠</a>
    </div>
</div>
<div class="zonghe w">
    <h2>综合套餐50家媒体（仅需<span>1888</span>元，包含门户、财经、IT等热门媒体）</h2>
    <div class="content">
        <ul class="clearfix">
           <li>
                <span></span>
                国际在线 
            </li>
            <li>
                <span></span>
                中国网 
            </li>
            <li>
                            <span></span>今日头条 </li>
            <li>
                            <span></span>新华报业网 </li>
            <li>
                            <span></span>腾讯网 </li>
            <li>
                            <span></span>网易网 </li>
            <li>
                            <span></span>企业家在线 </li>
            <li>
                            <span></span>东方头条 </li>
            <li>
                            <span></span>百度百家 </li>
            <li>
                            <span></span>市场导报 </li>
            <li>
                            <span></span>中国资讯网 </li>
            <li>
                            <span></span>中国日报 </li>
            <li>
                            <span></span>国际日报 </li>
            <li>
                            <span></span>科技新闻网 </li>
            <li>
                            <span></span>凤凰网 </li>
            <li>
                            <span></span>搜狐网 </li>
            <li>
                            <span></span>中国新闻网 </li>
            <li>
                            <span></span>北京在线 </li>
            <li>
                            <span></span>深圳之窗 </li>
            <li>
                            <span></span>中国新闻快报 </li>
            <li>
                            <span></span>中华商业网 </li>
            <li>
                            <span></span>企业时报网 </li>
            <li>
                            <span></span>消费日报 </li>
            <li>
                            <span></span>商业观察网 </li>
            <li>
                            <span></span>商界新闻网 </li>
            <li>
                            <span></span>中国经济导报 </li>
            <li>
                            <span></span>环球网 </li>
            <li>
                            <span></span>慧聪网 </li>
            <li>
                            <span></span>城市经济报 </li>
            <li>
                            <span></span>中华网 </li>
            <li>
                            <span></span>商都网 </li>
            <li>
                            <span></span>大众网 </li>
            <li>
                            <span></span>科技之家 </li>
            <li>
                            <span></span>小熊在线 </li>
            <li>
                            <span></span>硅谷网 </li>
            <li>
                            <span></span>赛迪网 </li>
            <li>
                            <span></span>第1科技网 </li>
            <li>
                            <span></span>华强北电脑网 </li>
            <li>
                            <span></span>中关村商情网 </li>
            <li>
                            <span></span>中国企业新闻网 </li>
            <li>
                            <span></span>市场信息报 </li>
            <li>
                            <span></span>东方网新闻 </li>
            <li>
                            <span></span>中国发展网 </li>
            <li>
                            <span></span>科技世界网 </li>
            <li>
                            <span></span>万家热线 </li>
            <li>
                            <span></span>广东之窗 </li>
            <li>
                            <span></span>先锋科技网 </li>
            <li>
                            <span></span>中原电视台 </li>
            <li>
                            <span></span>同花顺经济网 </li>
            <li>
                            <span></span>实际总价 </li>


        </ul>
    </div>
    <div class="link-me">
        <a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">咨询更多优惠</a>
    </div>
</div>
<div class="zonghe w">
    <h2>综合套餐100家媒体（仅需<span>3688</span>元，包含门户、财经、IT等热门媒体）</h2>
    <div class="content">
        <ul class="clearfix">
   <li>
                <span></span>新浪网 </li>
<li>
                <span></span>中国网 </li>
<li>
                <span></span>今日头条 </li>
<li>
                <span></span>新华报业网 </li>
<li>
                <span></span>企业家在线 </li>
<li>
                <span></span>东方头条 </li>
<li>
                <span></span>新广网 </li>
<li>
                <span></span>国际在线 </li>
<li>
                <span></span>中国日报 </li>
<li>
                <span></span>中国企业网 </li>
<li>
                <span></span>凤凰网 </li>
<li>
                <span></span>搜狐网 </li>
<li>
                <span></span>中国新闻网 </li>
<li>
                <span></span>北京在线 </li>
<li>
                <span></span>深圳热线 </li>
<li>
                <span></span>中国资讯网 </li>
<li>
                <span></span>企业时报网 </li>
<li>
                <span></span>上海视窗 </li>
<li>
                <span></span>消费日报 </li>
<li>
                <span></span>中国企业新闻网 </li>
<li>
                <span></span>亚洲在线 </li>
<li>
                <span></span>广东之窗 </li>
<li>
                <span></span>环球网 </li>
<li>
                <span></span>中国经济导报 </li>
<li>
                <span></span>慧聪网 </li>
<li>
                <span></span>北京之窗 </li>
<li>
                <span></span>中华网 </li>
<li>
                <span></span>中国企业报道网 </li>
<li>
                <span></span>大众网 </li>
<li>
                <span></span>华强北电脑网 </li>
<li>
                <span></span>小熊在线 </li>
<li>
                <span></span>重庆时报 </li>
<li>
                <span></span>中国商务新闻网 </li>
<li>
                <span></span>艾瑞网 </li>
<li>
                <span></span>天极网 </li>
<li>
                <span></span>硅谷网 </li>
<li>
                <span></span>中国商业网 </li>
<li>
                <span></span>中国市场网 </li>
<li>
                <span></span>海峡都市报 </li>
<li>
                <span></span>国际日报 </li>
<li>
                <span></span>IT专家网 </li>
<li>
                <span></span>先锋科技网 </li>
<li>
                <span></span>泡泡网 </li>
<li>
                <span></span>计世网 </li>
<li>
                <span></span>中国创投网 </li>
<li>
                <span></span>中国商业观察网 </li>
<li>
                <span></span>互联网日报 </li>
<li>
                <span></span>新华在线 </li>
<li>
                <span></span>北国网 </li>
<li>
                <span></span>潮流中国网 </li>
<li>
                <span></span>商业中文网 </li>
<li>
                <span></span>中国观察网 </li>
<li>
                <span></span>大连电视台 </li>
<li>
                <span></span>城市经济报 </li>
<li>
                <span></span>科技新闻网 </li>
<li>
                <span></span>新华月报 </li>
<li>
                <span></span>金投网 </li>
<li>
                <span></span>金融界 </li>
<li>
                <span></span>网易重庆 </li>
<li>
                <span></span>参考经济网 </li>
<li>
                <span></span>江南时报网 </li>
<li>
                <span></span>中原网电视台 </li>
<li>
                <span></span>洞察网 </li>
<li>
                <span></span>乌海网 </li>
<li>
                <span></span>项城网 </li>
<li>
                <span></span>生活新报 </li>
<li>
                <span></span>商洛之窗 </li>
<li>
                <span></span>魅力中国网 </li>
<li>
                <span></span>江西电视台 </li>
<li>
                <span></span>市场信息报 </li>
<li>
                <span></span>香港卫视 </li>
<li>
                <span></span>中国城市文化网 </li>
<li>
                <span></span>览潮网 </li>
<li>
                <span></span>华西都市报 </li>
<li>
                <span></span>山东生活网 </li>
<li>
                <span></span>剑客网 </li>
<li>
                <span></span>南方企业新闻网 </li>
<li>
                <span></span>中国测绘网 </li>
<li>
                <span></span>大众生活报 </li>
<li>
                <span></span>九江电视台 </li>
<li>
                <span></span>中国商业周刊 </li>
<li>
                <span></span>温州日报 </li>
<li>
                <span></span>中关村商情网 </li>
<li>
                <span></span>黔讯网 </li>
<li>
                <span></span>安徽青年网 </li>
<li>
                <span></span>大河网 </li>
<li>
                <span></span>智通财经 </li>
<li>
                <span></span>益阳电视台 </li>
<li>
                <span></span>青海电视台 </li>
<li>
                <span></span>中国消费新闻网 </li>
<li>
                <span></span>中国经贸网 </li>
        </ul>
    </div>
    <div class="link-me">
        <a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes">咨询更多优惠</a>
    </div>
</div>