.banner {
    height: 350px;
    background: url('../../../images/caseone_banner.jpg') no-repeat center;

    // background: red;
    .banner-content-box {
        width: 1200px;
        font-family: MicrosoftYaHei;
        color: #FFFFFF;
        overflow: hidden;

        .content {
            margin: 168px 0 0 0px;
            text-align: center;
        }

        .blod {
            font-size: 36px;
        }

        .normal {
            font-size: 20px;
        }

        .contact {
            width: 130px;
            height: 45px;
            line-height: 45px;
            text-align: center;
            background: #3790FF;
            font-size: 18px;
            color: #FFFFFF;
            margin-top: 36px;
            border-radius: 4px;
            &:hover{
              background: #3184ec;
              // box-shadow: 0px 1px 1px #ddd inset,0 1px 0 #fff; 
            }
            i {
                font-size: 16px;
            }
        }
    }
}