.choice-company {
    background-color: #FAFBFE;
    padding: 70px 0;
    box-sizing: border-box;
    .title {
        text-align: center;
        color: #555555;
        font-size: 20px;
        margin-bottom: 48px;

        h2 {
            font-size: 24px;
        }

       
    }
}

.swiper-container {
    width: 1200px;
    padding: 0 40px;
    box-sizing: border-box;
    height: 100%;
    .swiper-slide{
        background-color: #FAFBFE;
    }
    .swiper-button-next {
        width: 23px;
        height: 43px;
        background-image: url(../../../images/rigth_arrow.png);
        background-size: contain;
    }

    .swiper-button-prev {
        width: 23px;
        height: 43px;
        background-image: url(../../../images/left_arrow.png);
        background-size: contain;
    }
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 0 30px;
    box-sizing: border-box;

    .company-logo {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        span {
            width: 252px;
            height: 114px;  
            margin-bottom: 40px;       
        }
        .icon1{
            background: url(../../../images/mouse_logo1.jpg) no-repeat;
            background-size: contain;
        }
        .icon2{
            background: url(../../../images/mouse_logo2.jpg) no-repeat;
            background-size: contain;
        }
        .icon3{
            background: url(../../../images/mouse_logo3.jpg) no-repeat;
            background-size: contain;
        }
        .icon4{
            background: url(../../../images/mouse_logo4.jpg) no-repeat;
            background-size: contain;
        }
        .icon5{
            background: url(../../../images/mouse_logo5.jpg) no-repeat;
            background-size: contain;
        }
        .icon6{
            background: url(../../../images/mouse_logo6.jpg) no-repeat;
            background-size: contain;
        }
        .icon7{
            background: url(../../../images/mouse_logo7.jpg) no-repeat;
            background-size: contain;
        }
        .icon8{
            background: url(../../../images/mouse_logo8.jpg) no-repeat;
            background-size: contain;
        }
        .icon9{
            background: url(../../../images/mouse_logo9.jpg) no-repeat;
            background-size: contain;
        }
        .icon10{
            background: url(../../../images/mouse_logo10.jpg) no-repeat;
            background-size: contain;
        }
    }
}