<div class="head">
    <div class="nav w clearfix">
        <div class="log fl"><a href="javascript:;">数媒网</a></div>
        <ul class="nav-box fl J-nav-box">
            <li  class="active"><a href="/shumei/html/indexPage.html">首页</a></li>
            <li><a href="/shumei/html/newsPage.html">新闻营销</a></li>
            <li><a href="/shumei/html/annulationPage.html">新闻套餐</a></li>
            <li><a href="/shumei/html/baikePage.html">百科营销</a></li>
            <li><a href="/shumei/html/zhihuPage.html">知乎营销</a></li>
            <li><a href="/shumei/html/xiaohongshuPage.html">小红书营销</a></li>
            <li><a href="/shumei/html/searchPage.html">搜索优化</a></li>
            <li><a href="/shumei/html/articlesPage.html">软文撰写</a></li>
            <li><a href="/shumei/html/mousePage.html">口碑营销</a></li>
            <li><a href="/shumei/html/newMediaPage.html">新媒体营销</a></li>
            <li><a href="/shumei/html/annulationTwoPage.html">整合营销套餐</a></li>
        </ul>
        <div class="contact">
            <span class="icon"></span>
            <span class="text">18665594799</span>
        </div>
    </div>

</div>