<div class="head">
    <div class="nav w clearfix">
        <div class="log fl"><a href="javascript:;">数媒网</a></div>
        <ul class="nav-box fl J-nav-box">
            <li  class="active"><a href="/html">首页</a></li>
            <li><a href="/html/newsPage.html">新闻营销</a></li>
            <li><a href="/html/mousePage.html">口碑营销</a></li>
            <li><a href="/html/articlesPage.html">软文撰写</a></li>
            <li><a href="/html/zhihuPage.html">知乎营销</a></li>
            <li><a href="/html/xiaohongshuPage.html">小红书营销</a></li>
            <li><a href="/html/newMediaPage.html">新媒体营销</a></li>
            <li><a href="/html/searchPage.html">搜索优化</a></li>
            <li><a href="/html/baikePage.html">百度百科</a></li>
        </ul>
        <div class="contact">
            <span class="icon"></span>
            <span class="text">400 8200 820</span>
        </div>
    </div>

</div>