<div class="my_advantages">
    <div class="w advantages-box">
        <div class="title">
            <h2>您可能面对的问题</h2>
            <div>The difficulties you may face</div>
        </div>
        <ul>
            <li class="icon1"> </li>
            <li class="icon2">
                <div class="normal">关键词搜索结果<br/> 内容陈旧、<span>品牌口碑差</span></div>
            </li>
            <li class="icon3"> </li>
            <li class="icon4">

                <div class="normal">发布的稿件<br/>没被搜索引擎收录、<span>搜索不到</span></div>
            </li>
            <li class="icon5">

                <div class="normal">关键词搜索结果<br/> 找不到<span>品牌曝光</span></div>
            </li>
            <li class="icon6"></li>
            <li class="icon5">
                <div class="normal">搜索品牌和产品<br/> <span>找不到官网</span></div>
            </li>
            <li class="icon8"></li>
        </ul>
    </div>
</div>