<div class="box-img2">
    <div class="w serve-box">
        <div class="title">
            <h2>软文撰写服务</h2>
            <div>Soft language writin</div>
        </div>
        <div class="img-box w">
            <a href="tencent://message/?uin=2231255768&Site=Sambow&Menu=yes"></a>
        </div>
    </div>
</div>