<div class="box-img-no-3">
    <div class="serve-box w ">
        <div class="top clearfix">
            <div class="img-box fl"></div>
            <div class="text-box fl">
                <h2>小红书是<br /> 种草基地+剁手神器</h2>
                <p>在小红书社区，用户讨论的内容就是商品，同时女性对晒物分享也有需求，
                    这就让小红书的社区商业化变现变得更得更加流畅，广告营销植入痕迹也
                    不会明显。7000万用户的口碑分享，同时也是天然广告发酵场域。</p>
            </div>
        </div>

        <div class="img-box2"></div>
    </div>
</div>