<div class="my_serve">
    <div class="w serve-box">
        <div class="title">
            <h2>我们的优势</h2>
            <div>Our advantages</div>
        </div>
        <ul>
            <li>
                <div class="icon1 icon"></div>
                <div class="bold">编辑团队 </div>
                <div class="normal">美妆、家电、消费类电子、金融等领域一线编辑1000+，保障内容专业性 </div>
            </li>
            <li>
                <div class="icon2 icon"></div>
                <div class="bold">SEO经验</div>
                <div class="normal">10年SEO经验，熟悉SEO稿件要求
                    保障撰写内容被搜索引擎抓取排名
                </div>

            </li>
            <li>
                <div class="icon3 icon"></div>
                <div class="bold">服务经验</div>
                <div class="normal">策划来自上市公司，参与过Olay、唯品会、
                    京东、王老吉、美的等品牌稿件策划，内
                    容获得大范围传播</div>
            </li>

        </ul>
    </div>
</div>