<div class="box-img1">
    <div class="w serve-box">
        <div class="title">
            <h2>口碑平台全覆盖，打造品牌信任度</h2>
            <div>The word-of-mouth platform is fully covered to create brand trust</div>
        </div>
        <div class="img-box w"></div>
    </div>
</div>