<div class="my_advantages">
    <div class="w advantages-box">
        <div class="title">
            <h2>我们的优势</h2>
            <div>Our advantages</div>
        </div>
        <ul>
            <li class="icon1">
                <div class="icon"></div>
                <div class="bold">资源丰富</div>
                <div class="normal">拥有5000+网站媒体、3000+论坛、1000+网红，著名网站编辑构成的写手团队
                </div>
            </li>
            <li class="icon2">
                <div class="icon"></div>
                <div class="bold">专业服务</div>
                <div class="normal">团队来至上市公司服务过宝洁、唯品会、
                    王老吉、美的等5知名品牌，拥有10年
                    互联网推广经验

                </div>

            </li>
           <li class="icon3">
                <div class="icon"></div>
                <div class="bold">质量保障</div>
                <div class="normal">我们提供专业营销顾问一对一服务
                    可根据客户需求量身定制策划方案

                </div>
            </li>
             <li class="icon4">
                <div class="icon"></div>
                <div class="bold">一手资源</div>
                <div class="normal">全网一手渠道资源服务供应商，不需要经
                    过中间商，直接对接媒体合作

                </div>
            </li>
            <li class="icon5">
                <div class="icon"></div>
                <div class="bold">策划报告</div>
                <div class="normal">提供策划和服务效果报告，告诉你效果亮点
                </div>
            </li>
             <li class="icon6">
                <div class="icon"></div>
                <div class="bold">交易保障</div>
                <div class="normal">正规公司可提供合同、发票， 对公交易有保障
                </div>
            </li>
        </ul>
    </div>
</div>