<div class="my_advantages">
    <div class="w advantages-box">
        <div class="title">
            <h2>您可能面对的问题</h2>
            <div>The difficulties you</div>
        </div>
        <ul>
            <li class="icon1"> </li>
            <li class="icon2">
                <div class="normal">活动信息<span>搜索不到</span> </div>

            </li>
            <li class="icon3"> </li>
            <li class="icon4">

                <div class="normal">品牌、产品信息<br/> <span>搜索不到</span> </div>
            </li>
            <li class="icon5">

                <div class="normal">品牌 <span>知名度低</span></div>
            </li>
            <li class="icon6"></li>
            <li class="icon5">
                <div class="normal">品牌、产品<br/> <span>客户不信任</span></div>
            </li>
            <li class="icon8"></li>
        </ul>
    </div>
</div>