<div class="box-img2">
    <div class="w serve-box">
        <div class="title">
            <h2>五大内容技巧，让品牌刷屏小红书</h2>
            <div>海量网红、明星干货内容，为品牌营造现象热</div>
        </div>
        <div class="img-box w"></div>
    </div>
</div>