/*
 * @Author: zhengchunyang 
 * @Date: 2018-08-01 10:36:22 
 * @Last Modified by: zhengchunyang
 * @Last Modified time: 2019-01-19 22:32:02
 */

 @import '../../../../style/global.scss';

 .index-layout {
    min-height: 100%;
    background-color: #4148fa;
    // background-image: url(../img/a162442….png);
    background-repeat: no-repeat;
    background-size: 100%;
 }
 #root, body, html {
    height: 100%;
    background: #f1f2f9;
}
.w{
    width: 1200px;
    margin: 0 auto;
}

.ant-layout{
    background-color: #f1f2f9;
}
// 走马灯
.ant-carousel .slick-slide {
    text-align: center;
    height: 352px;
    line-height: 352px;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }