<div class="my_advantages">
    <div class="w advantages-box">
        <div class="title">
            <h2>您可能面对的问题</h2>
            <div>The difficulties you may face</div>
        </div>
       <ul>
            <li class="icon1"> </li>
            <li class="icon2">
                <div class="normal">内容口碑<span>排名不够好</span> </div>

            </li>
            <li class="icon3"> </li>
            <li class="icon4">
                <div class="normal">问答、经验、论坛<br/><span>内容发不上</span></div>
            </li>
            <li class="icon5">

                <div class="normal">知乎、知道等媒体<br/><span>无品牌信息</span></div>
            </li>
            <li class="icon6"></li>
            <li class="icon5">
                <div class="normal">品牌产品 <span>得不到信任</span></div>
            </li>
            <li class="icon8"></li>
        </ul>
    </div>
</div>